<div class="temp-section-home animate__animated animate__fadeIn">
  <img [srcset]="getImg()" class="bg-img" alt="">
  <div class="grid gap-3">
    <div class="flex w-full justify-between">
      <span class=" text-[20px] leading-[28px] font-semibold sm:text-[24px] sm:font-medium" [ngStyle]="{'color': section()?.textColor}"> {{section()?.name}} </span>

      <button class="btn flex btn-seemore  items-center !text-[14px] !leading-[19.07px]  !font-semibold" *ngIf="section()?.name!='Mood Zen del día' " [ngStyle]="{'color': section()?.textColor}" routerLink="yoga">
        VER TODO
        <mat-icon class="material-symbols-rounded">keyboard_arrow_right</mat-icon>
      </button>
    </div>
    <mat-divider class="mat-divider" />
    <h4 class="text-[14px] leading-[22px] sm:text-[16px] colorgray" [ngStyle]="{'color': section()?.textColor}" *ngIf="section()?.name!='Mood Zen del día' ">{{section()?.description}}</h4>
  </div>

  <swiper-container
    slides-per-view="auto"
    speed="500"
    loop="false"
    freemode="true"
    class="overflow-auto"
  >

    <swiper-slide *ngFor="let item of section()?.posts">
      <app-card
      *ngIf="item.postType?.name!='blog' "
        [category]="item.category?.name!"
        [time]="item.duration!"
        [title]="item.title!"
        [titleSection]="section()?.name"
        [isLock]="!isUnLock(item)"
        [url_img]="item.postDetail!.thumbnail"
        [user]="item.user!"
        [type]="item.postType?.name!"
        [urlPlayer]="item.postType?.name == 'audio' ? item.postDetail?.audioUrl! : item.postDetail?.videoUrl!"
      />
      <app-card-article
      *ngIf="item.postType?.name==='blog' "
      [category]="item.category?.name!"
      [time]="item.duration!"
      [title]="item.title!"
      [isLock]="!isUnLock(item)"
      [url_img]="item.postDetail!.thumbnail"
      [user]="item.user!"
      [type]="item.postType?.name!"
    />
    </swiper-slide>

  </swiper-container>



  <div class="section-ad" *ngIf="section()?.hasAds">
    <div class="grid m-auto  max-w-[900px]">
      <div class="content-ads">
        <a [href]="section()?.hasAds && section()?.url_ads ? section()?.url_ads :'#'">
        <img [srcset]="getImg2( section()?.ads  )" alt="">
      </a>
      </div>
      <span class="text-end text-[12px]">Publicidad</span>
    </div>
  </div>

</div>
