<div class="temp-section-home animate__animated animate__fadeIn">
  <img [srcset]="getImg()" class="bg-img" alt="">
  <div class="grid spacing-title-sections">
    <div class="flex w-full justify-between">
      <span class=" text-[20px] leading-[28px] font-semibold sm:text-[24px] sm:font-medium" [ngClass]="section()?.textColor=='#373A40' || section()?.textColor=='#373a40'  ? 'colortitlegray' : 'colorwhite' "> {{section()?.name}} </span>

      <button class="btn flex btn-seemore  items-center !text-[14px] !leading-[19.07px]  !font-semibold" *ngIf="section()?.name!='Mood Zen del día' " [ngClass]="section()?.textColor=='#373A40' || section()?.textColor=='#373a40'  ? 'colorgray' : 'colorwhite' " routerLink="/home/section/{{section()?.category?.id}}">
        VER TODO
        <mat-icon class="material-symbols-rounded">keyboard_arrow_right</mat-icon>
      </button>
    </div>
    <mat-divider class="mat-divider" *ngIf="section()?.name==='Taróscopo' "/>

      <h4 class="text-[14px] leading-[22px] sm:text-[16px] {{ section()?.textColor === '#373A40' || section()?.textColor=='#373a40'  ? 'colorgray' : 'colorwhite' }} {{ section()?.hasAds ? 'marginSectionwithAds' : '' }}" *ngIf="section()?.name!='Mood Zen del día' ">{{section()?.description}}</h4>


  </div>

  <swiper-container
    slides-per-view="auto"
    speed="500"
    loop="false"
    freemode="true"
    class="overflow-auto"
    #swiper

  >

    <swiper-slide
    *ngFor="let item of section()?.posts; let  i = index" [ngClass]="{
      'swiper-slide-first': i === 0,

      'swiper-slide-active': i === activeSlideIndex
    }" >
      <app-card
        *ngIf="item.postType?.name!='blog'"
        [setPost]="item"
        [index]="i"
        [setPosts]="section()?.posts!"
        [titleSection]="section()?.name"
        [textColor]="section()?.textColor"
      />

      <app-card-article
        [setPost]="item"
      *ngIf="item.postType?.name==='blog' "
      [category]="item.category.name!"
      [idSection]="section()?.id"
      [idPost]="item.id"
      [time]="item.duration!"
      [title]="item.title!"
      [isLock]="!isUnLock(item)"
      [url_img]="item.postDetail!.thumbnail"
      [textColor]="section()?.textColor"
      [user]="item.user!"
      [type]="item.postType.name!"
    />
    </swiper-slide>

  </swiper-container>

  <div class="section-ad" *ngIf="section()?.hasAds">
    <div [ngClass]="screenWidth < '600' ?'grid' : 'm-auto  max-w-[900px]' ">
      <div class="content-ads">
        <a [href]="section()?.hasAds && section()?.url_ads ? section()?.url_ads :'#'" target="_blank">
        <img class=" imgAds" [srcset]="screenWidth < '600' ? getImg2( section()?.adsMobile  ): getImg2( section()?.ads  )" alt="">
      </a>
      </div>
      <span class="text-end text-[12px] adsDisplay">Publicidad </span>
    </div>
  </div>

</div>
