<div class="temp-section-home animate__animated animate__fadeIn">
  <img [srcset]="getImg()" class="bg-img" alt="">
  <div class="grid gap-3">
    <div class="flex w-full justify-between">
      <span class=" text-[20px] leading-[28px] font-semibold sm:text-[24px] sm:font-medium"> {{section()?.name}} </span>

      <button class="btn flex btn-seemore  items-center !text-[14px] !leading-[19.07px]  !font-semibold" routerLink="yoga">
        VER TODO
        <mat-icon class="material-symbols-rounded">keyboard_arrow_right</mat-icon>
      </button>
    </div>
    <h4 class="text-[14px] leading-[22px] sm:text-[16px] colorgray">{{section()?.description}}</h4>
  </div>

  <swiper-container
    slides-per-view="auto"
    speed="500"
    loop="false"
    freemode="true"
    class="overflow-auto"
  >

    <swiper-slide *ngFor="let item of section()?.posts">
      <app-card
        [category]="item.category?.name!"
        [time]="item.duration!"
        [title]="item.title!"
        [isLock]="!isUnLock(item)"
        [url_img]="item.postDetail!.thumbnail"
        [user]="item.user!"
        [type]="item.postType?.name!"
      />
    </swiper-slide>

  </swiper-container>
</div>
