:host {
  display: block;
}
::ng-deep{


  .mat-mdc-dialog-container .mdc-dialog__surface{
    overflow: hidden;
    border-radius: 20px !important;
    -webkit-border-radius: 20px !important;
    -moz-border-radius: 20px !important;
    -ms-border-radius: 20px !important;
    -o-border-radius: 20px !important;
}
}

.pb-3rm{
  padding-bottom: 3rem;
}
.pl3r3{
  padding-left: 0rem;
  padding-right: 0rem;
}
.pl3r3 .btn-close-modal{
  margin-right: 35px;
  top: 22px;
  position: relative;
}

@media (width < 600px) , (max-device-width: 600px) {
  
  .pl3r3 .btn-close-modal{
    margin-right: 18px;
    top: 15px;
    }
}