<div class="grid pl3r3 py-4 pb-3rm gap-8 justify-items-center">

  <button class="btn justify-self-end !p-0"  mat-dialog-close="true" ><mat-icon class="!w-[25px] !h-[25px] !text-[28px] sm:!w-[32px] sm:!h-[32px] sm:!text-[40px] font-normal sm:font-extralight material-symbols-rounded"  > close </mat-icon></button>

  <span class="font-bold sm:font-medium text-[20px] sm:text-[28px] leading-[27.24px] text-center" >Manejar Suscripción</span>

  <span class="text-[16px] font-normal leading-[22px] text-center max-w-[380px]">
    Estás suscrito con tu operadora móvil. <br>
      Sí cancelas tu suscripción, <strong class="text-[14px] text-[#686D76] leading-[22px]">
        dejarás de tener acceso al contenido premium de SoyZen.
      </strong>
  </span>

  <div class="flex gap-2 mt-3 flex-wrap sm:justify-normal justify-center  ">
    <button class="btn btn-secondary !font-bold !py-2 !text-[14px]" (click)="exitSubscribe(linkData().link?.link )" mat-dialog-close="true" >
      Cancelar Suscripción
    </button>

    <button class="btn btn-green !font-bold !py-2 !px-7 !text-[14px]" mat-dialog-close="true" >
      Continuar Suscrito
    </button>
  </div>
</div>
