
@media (width < 600px) , (max-device-width: 600px) {
    .content-card .card .body {

        padding: 20px;

    }
    // .tamanoAudio{
    //     width: 167px ;
    //   }
    //   .tamanoVideo{
    //     width: 255px ;
    //   }

    .maxwidthVideo{
        max-width: 68vw;
        min-width: 255px;
        min-height: 22vh;
        max-height: 31vw;
    }

    .maxwidthAudio{
        max-width: 44vw !important;
        min-width: 167px !important;
        min-height: 202px !important;
        max-height: 31vw !important;
    }

    .avatar{
       width: 8.53vw !important; 
       height: 8.53vw !important; 
    }
    
    .iconitoMpobile{
        width: 30px !important;
        height: 30px !important;
        font-size: 30px;
        display: flex;
        align-items: center;
    }

    .content-card{
        padding: 0 0 0 16.5px;
      }
}
