<div class="content-card animate__animated animate__fadeInRight animate__fast">
  <div class="card">
    <img [srcset]="url_img" alt="">
    <div class="body">
      <div class="flex justify-between">
        <div class="chip">
          <mat-icon  class="material-symbols-rounded">watch_later</mat-icon>
          <p>30min</p>
        </div>
        @if(isNew){
          <div class="chip new">
            <span class="font-semibold text-[12px]"  >Nuevo</span>
          </div>
        }

      </div>

      <h2 class="self-center text-white text-center leading-normal"> {{title}} </h2>

      <div class="flex justify-between px-1 items-center">
        <p>Meditación</p>

        <mat-icon  class="material-symbols-rounded font-thin text-[40px] !w-[40px] !h-[40px]">play_circle_outline</mat-icon>
      </div>
    </div>
  </div>

  <div class="avatar-info">
    <div class="avatar">
      <img src="/assets/images/test/user_avatar.jpg" alt="">
    </div>

    <div class="grid">
      <h4 class="font-semibold text-[16px]">Vanessa Aponte</h4>
      <div class="flex gap-1">
        <div class="flex items-center">
          <mat-icon class="material-symbols-rounded font-extralight">favorite_border</mat-icon>
          <span class="text-sm gray" >227</span>
        </div>

        <div class="flex items-center">
          <mat-icon class="material-symbols-rounded font-extralight ">remove_red_eye</mat-icon>
          <span class="text-sm gray" >265</span>
        </div>
      </div>
    </div>
  </div>

</div>
