<div class="content-card animate__animated animate__fadeInRight animate__fast" [class.card-list]="isList" >
  <div class="card" (click)="openDialog()">
    <img [ngClass]="type==='audio' ? 'tamanoAudio' : '' "  [srcset]="getImg(url_img)" alt="">
    <div class="body">
      <div class="flex justify-between">
        <div class="chip" *ngIf="type!='ads' ">
          <mat-icon  class="material-symbols-rounded !w-[16px] !h-[16px] !text-[16px]">watch_later</mat-icon>
          <p class="text-[12px] leading-[16.34px] font-bold"> {{time ?? '0min'}} </p>
        </div>
        @if(isNew){
          <div class="chip new">
            <span class="font-semibold text-[12px]"  >Nuevo</span>
          </div>
        }

      </div>

      <h2 class="self-center text-white text-center sm:leading-[22px] text-[16px] sm:text-[18px] leading-[20px] font-bold" > {{type=='ads' || titleSection==='Taróscopo'? '' : title}} </h2>

      <div class="flex justify-between px-1 items-center hgt" >
        <p style="    width: 90%;"> {{type=='ads' || titleSection==='Taróscopo' ? title : category }} </p>

        @if(isLock && type!='ads'){
          <mat-icon  class="material-symbols-rounded font-thin text-[32px] !w-[32px] !h-[32px]" svgIcon="my-lock" ></mat-icon>
        }@else{
          <mat-icon  class="material-symbols-rounded font-thin text-[40px] !w-[40px] !h-[40px]" >play_circle_outline</mat-icon>
        }
      </div>
    </div>
  </div>

  <div class="avatar-info">
    <div class="avatar" *ngIf="type!='ads'">
      <img [src]=" getImg(user?.image) " alt="">
    </div>

    <div class="grid mt-2">
      <p *ngIf="type==='ads'" style="color:rgba(104, 109, 118, 1);font-size:12px;line-height: 16.34px;">Publicidad</p>
      <ng-container *ngIf="type!='ads'">
        <h4 class="!font-semibold !text-[16px] !leading-[22px]" [ngClass]="textColor=='#373A40' ? 'colortitlegray' : 'colorwhite' " >{{ user?.name ?? ""}}</h4>
        <div class="flex gap-1">
          <div class="flex items-center">
            <mat-icon class="material-symbols-rounded font-extralight" [ngClass]="textColor=='#373A40' ? 'colorgray' : 'colorwhite' ">favorite_border</mat-icon>
            <span class="text-sm gray txtft" [ngClass]="textColor=='#373A40' ? 'colorgray' : 'colorwhite' "> 775 </span>
          </div>

          <div class="flex items-center">
            <mat-icon class="material-symbols-rounded font-extralight " [ngClass]="textColor=='#373A40' ? 'colorgray' : 'colorwhite' ">remove_red_eye</mat-icon>
            <span class="text-sm gray txtft" [ngClass]="textColor=='#373A40' ? 'colorgray' : 'colorwhite' ">265</span>
          </div>
        </div>
      </ng-container>

    </div>
  </div>

</div>


<ng-template #modalEvent>
  <mat-dialog-actions class="grid">
    <div class="grid pb-8 w-full">
      <button class="btn justify-self-end "><mat-icon class="!w-[30px] !h-[30px] text-[30px] font-extralight material-symbols-rounded" mat-dialog-close="true" > close </mat-icon></button>

      <div class="grid gap-5 text-center justify-items-center w-[300px] m-auto">
        <span class="text-[28px] font-medium leading-[38.14px]" >Hazte Premium</span>

        <span class="text-[14px] leading-[22px] font-normal">
          Suscríbete y obtén full acceso a todos los contenidos y funcionalidades de Soy Zen.
        </span>

        <button class="btn-gold"  routerLink="/premium/subscribe_operator" (click)="close()"  mat-dialog-close="true" >Suscripción Premium</button>
      </div>
    </div>


  </mat-dialog-actions>
</ng-template>

<ng-template #modalVideo>
  <app-videoplayer [urlPlayer]="urlPlayer"  />
</ng-template>

<ng-template #modalAudio>
  <app-audio-player [urlPlayer]="urlPlayer " [url_img]="url_img" [title]="title" [category]="category"/>
</ng-template>
