<div class="temp-signup animate__animated animate__fadeIn ">

  <header class="header">
    <img srcset="/assets/images/head_logo.webp" alt="">

    <button class="btn close" routerLink="/" >
      <mat-icon svgIcon="my-cancel"></mat-icon>
    </button>
  </header>

  <div class="content">
    <h1 class=" text-xl sm:text-3xl font-medium txt-reg" >Registro con Email</h1>

    <h3 class="text-gray-dark" >Tendrás acceso Freemium en nuestra web</h3>


    <form class="form" [formGroup]="form" >

      <div class="form-group input-icon-right">
        <input type="text" class="input" [class.input-error]="getInputError('email')" formControlName="email" placeholder="Email">
        <mat-icon class="input-icon material-symbols-rounded" [class.colorIcon]="getInputError('email')" svgIcon="my-email" ></mat-icon>
      </div>

      <div class="form-group input-icon-right">
        <input type="{{ passwordVisible ? 'text' : 'password' }}" [class.input-error]="getInputError('password')"  class="input" formControlName="password" placeholder="Contraseña">
        <mat-icon (click)="togglePasswordVisibility()" [class.colorIcon]="getInputError('password')" class="input-icon material-symbols-rounded ftIcon !w-[20px] !h-[20px] !text-[20px]" [svgIcon]="passwordVisible ? 'my-eyeoff' : 'my-eye'"></mat-icon>
        <div>

          @if(getTypeError('email', 'required') || getTypeError('password', 'required')){
            <span class="text-error"><mat-icon class="icon">error_outline</mat-icon><span class="ft-text">  Campo requerido.</span> </span>
          }@else {
            <!-- <span *ngIf="errorType() == 2" class="text-error"><mat-icon class="icon">error_outline</mat-icon><span class="ft-text">  Contraseña inválida. Intenta nuevamente.</span> </span> -->
            <span *ngIf="getTypeError('email', 'email') " class="text-error"><mat-icon class="icon">error_outline</mat-icon><span class="ft-text">  Correo inválido. Intenta nuevamente.</span> </span>
          }

        </div>
      </div>

      <button class="btn-green" id="btn-signup"  > Crear cuenta </button>
      <!-- routerLink="/auth/account-success"  -->

    </form>

    <mat-divider></mat-divider>

    <div class="grid gap-5 mt-4" >
      <h4 class="text-center font-semibold txt-init" style="display:none">O regístrate con:</h4>

      <div class="btn-group-media" style="display:none">
        <button class="btn" >
          <img srcset="/assets/images/google_icon.svg" alt="">
        </button>

        <button class="btn" >
          <img srcset="/assets/images/facebook_icon.svg" alt="">
        </button>

        <button class="btn" >
          <img srcset="/assets/images/apple_icon.svg" alt="">
        </button>
      </div>

      <div class="flex justify-center">
        <h4 class="text-center txt-tmn">Ya tengo cuenta,</h4>
          <button id="login" class=" txt-tmn" routerLink="/auth/login" >INICIA SESIÓN</button>
      </div>
    </div>

    <h5 class="font-medium text-center mt-10 txt-doble">
      Al crear la cuenta aceptas nuestros <button class="text-blue underline " >Términos y Condiciones</button> , y confirmas haber leído y comprendido la <button class="text-blue underline" >Política de Privacidad</button>
    </h5>
  </div>

</div>
