.temp-yogui_life{
  display: grid;
  gap: 20px;
  background-image: url('/assets/images/bg_yoga.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 30px;
}
