<div class="temp-yogui_life animate__animated animate__fadeIn">
  <div class="grid gap-3">
    <div class="flex w-full justify-between">
      <span class=" text-[20px] leading-[28px] font-semibold sm:text-[24px] sm:font-medium">Yogui Life</span>

      <button class="btn flex btn-seemore  items-center !text-[14px] !leading-[19.07px]  !font-semibold">
        VER TODO
        <mat-icon class="material-symbols-rounded">keyboard_arrow_right</mat-icon>
      </button>
    </div>
    <h4 class="text-[14px] leading-[22px] sm:text-[16px]">Sigue las clases con Alegría León, nuestra experta en Yoga. </h4>
  </div>

  <swiper-container
    slides-per-view="auto"
    speed="500"
    loop="false"
    freemode="true"
    class="overflow-auto"
  >
    <swiper-slide>
      <app-card
        title=""
        [isLock]="true"
        url_img="/assets/images/test/back_card_lg.jpg"
      />
    </swiper-slide>

    <swiper-slide>
      <app-card
        title=""
        [isLock]="true"
        url_img="/assets/images/test/back_card_lg.jpg"
      />
    </swiper-slide>

    <swiper-slide>
      <app-card
        title=""
        [isLock]="true"
        url_img="/assets/images/test/back_card_lg.jpg"
      />
    </swiper-slide>

    <swiper-slide>
      <app-card
        title=""
        [isLock]="true"
        url_img="/assets/images/test/back_card_lg.jpg"
      />
    </swiper-slide>

    <swiper-slide>
      <app-card
        title=""
        [isLock]="true"
        url_img="/assets/images/test/back_card_lg.jpg"
      />
    </swiper-slide>

  </swiper-container>
</div>
