<div class="temp-yogui_life animate__animated animate__fadeIn">
  <div class="grid gap-3">
    <div class="flex w-full justify-between">
      <span class="font-xl">Yogui Life</span>

      <button class="btn flex">
        VER TODO
        <mat-icon>keyboard_arrow_right</mat-icon>
      </button>
    </div>
    <h4>Sigue las clases con Alegría León, nuestra experta en Yoga. </h4>
  </div>

  <div class="flex gap-4 my-7">
    <app-card
      title=""
      url_img="/assets/images/test/back_card_lg.jpg"
    />

    <app-card
      title=""
      url_img="/assets/images/test/back_card_lg.jpg"
    />

    <app-card
      title=""
      url_img="/assets/images/test/back_card_lg.jpg"
    />

    <app-card
      title=""
      url_img="/assets/images/test/back_card_lg.jpg"
    />
  </div>
</div>
