<div class="temp-meditation animate__animated animate__fadeIn">

  <div class="grid gap-2">
    <div class="flex w-full justify-between">
      <span class="font-xl">Meditaciones</span>

      <button class="btn flex">
        VER TODO
        <mat-icon>keyboard_arrow_right</mat-icon>
      </button>
    </div>
    <h4 class="font-sm">Consigue un estado de relajación y concentración mental con la Meditación.</h4>
  </div>

  <div class="list">
    <app-card
      title="Conectar con la energía de los 4 elementos"
      url_img="/assets/images/test/back_card.webp"
    />
  </div>
</div>
