<div class="temp-section-home animate__animated animate__fadeIn">
  <img [srcset]="getImg()" class="bg-img" alt="">
  <div class="grid spacing-title-sections">
    <div class="flex w-full justify-between">
      <span class=" text-[20px] leading-[28px] font-semibold sm:text-[24px] sm:font-medium colortitlegray" > {{section()?.name}} </span>

      <button class="btn flex btn-seemore  items-center !text-[14px] !leading-[19.07px]  !font-semibold" *ngIf="section()?.name!='Mood Zen del día' " routerLink="yoga">
        VER TODO
        <mat-icon class="material-symbols-rounded">keyboard_arrow_right</mat-icon>
      </button>
    </div>
    <mat-divider class="mat-divider" *ngIf="section()?.name==='Taróscopo' "/>
  </div>

  <swiper-container
    slides-per-view="auto"
    speed="500"
    loop="false"
    freemode="true"
    class="overflow-auto"
    #swiper

  >

    <swiper-slide
    *ngFor="let item of section()?.posts; let  i = index" [ngClass]="{
      'swiper-slide-first': i === 0,

      'swiper-slide-active': i === activeSlideIndex
    }" >
      <app-card
        (click)="openReel(i,item)"
        *ngIf="item.postType?.name!='blog'"
        [post]="item"
        [titleSection]="section()?.name"
        textColor="#373A40"
      />

      <app-card-article
      *ngIf="item.postType?.name==='blog' "
      [category]="item.category?.name!"
      [idSection]="section()?.id"
      [idPost]="item.id"
      [time]="item.duration!"
      [title]="item.title!"
      [isLock]="!isUnLock(item)"
      [url_img]="item.postDetail!.thumbnail"
      [user]="item.user!"
      [type]="item.postType?.name!"
      textColor="#373A40"

    />
    </swiper-slide>

  </swiper-container>

</div>
