<div class="temp-section-home animate__animated animate__fadeIn">
  <img *ngIf="getImg() " [srcset]="getImg()   " class="bg-img" [ngClass]="section()?.title==='Recientes' ? 'bg-fill' : '' " alt="">
  <div class="grid spacing-title-sections">
    <div class="flex w-full justify-between">
      <span [style.color]="section()?.color ? section()?.color : 'black'" class=" text-[20px] leading-[28px] font-semibold sm:text-[24px] sm:font-medium colortitlegray" > {{section()?.title}} </span>

      <button   class="btn flex btn-seemore  items-center !text-[14px] !leading-[19.07px]  !font-semibold" *ngIf="section()?.name!='Mood Zen del día' && section()?.name!='Recientes' && sectionData()?.nameSection!='Astrología' && sectionData()?.nameSection!='Astrologia' " (click)="selectSubCategory(section()?.subcategory?.id!)">
        VER TODO
        <mat-icon class="material-symbols-rounded">keyboard_arrow_right</mat-icon>
      </button>
    </div>
    <mat-divider class="mat-divider" *ngIf="section()?.name==='Taróscopo' "/>
  </div>

  <swiper-container
    slides-per-view="auto"
    speed="500"
    loop="false"
    freemode="true"
    class="overflow-auto"
    #swiper

  >

    <swiper-slide
    *ngFor="let item of section()?.posts; let  i = index" [ngClass]="{
      'swiper-slide-first': i === 0,

      'swiper-slide-active': i === activeSlideIndex
    }" >
      <app-card
        *ngIf="item.postType?.name!='blog'"
        [setPost]="item"
        [setPosts]="section()?.posts!"
        [index]="i"
        [titleSection]="sectionData().sectionDetail?.name"
        [textColor]="section()?.color == '' || !section()?.color ? '#373A40' : section()?.color"
      />

      <app-card-article
      [setPost]="item"
      *ngIf="item.postType?.name==='blog' "
      [category]="item.category ? item.category.name! : ''"
      [idSection]="section()?.id"
      [idPost]="item.id"
      [time]="item.duration!"
      [title]="item.title!"
      [isLock]="!isUnLock(item)"
      [url_img]="item.postDetail!.thumbnail"
      [user]="item.user!"
      [type]="item.postType ? item.postType.name! : ''"
      [textColor]="section()?.color ?? '#373A40'"
    />
    </swiper-slide>

  </swiper-container>

</div>
