<div class="temp-taroscope animate__animated animate__fadeIn">

  <div class="grid gap-3">
    <div class="flex w-full justify-between">
      <span class=" text-[20px] leading-[28px] sm:font-xl">Taróscopo</span>

      <button class="btn flex btn-seemore">
        VER TODO
        <mat-icon class="material-symbols-rounded">keyboard_arrow_right</mat-icon>
      </button>
    </div>

    <mat-divider />

    <h4 class="text-[14px] leading-[22px] font-normal">Taróscopo especial de la temporada Escorpio que va desde el 23 de octubre al 22 de noviembre.</h4>
  </div>

  <swiper-container
    slides-per-view="auto"
    speed="500"
    loop="false"
    freemode="true"
    class="overflow-auto"
  >
    <swiper-slide>
      <app-card
        title=""
        url_img="/assets/images/test/back_card_tarot.jpg"
      />
    </swiper-slide>
    <swiper-slide>
      <app-card
        title=""
        url_img="/assets/images/test/back_card_tarot.jpg"
      />
    </swiper-slide>

    <swiper-slide>
      <app-card
        title=""
        url_img="/assets/images/test/back_card_tarot.jpg"
      />
    </swiper-slide>
    <swiper-slide>
      <app-card
        title=""
        url_img="/assets/images/test/back_card_tarot.jpg"
      />
    </swiper-slide>
    <swiper-slide>
      <app-card
        title=""
        url_img="/assets/images/test/back_card_tarot.jpg"
      />
    </swiper-slide>
  </swiper-container>
</div>
