<div class="temp-taroscope animate__animated animate__fadeIn">

  <div class="grid gap-3">
    <div class="flex w-full justify-between">
      <span class="font-xl">Taróscopo</span>

      <button class="btn flex">
        VER TODO
        <mat-icon>keyboard_arrow_right</mat-icon>
      </button>
    </div>

    <mat-divider />

    <h4>Taróscopo especial de la temporada Escorpio que va desde el 23 de octubre al 22 de noviembre.</h4>
  </div>

  <div class="flex gap-4 my-7">
    <app-card
      title=""
      url_img="/assets/images/test/back_card_tarot.jpg"
    />

    <app-card
      title=""
      url_img="/assets/images/test/back_card_tarot.jpg"
    />

    <app-card
      title=""
      url_img="/assets/images/test/back_card_tarot.jpg"
    />

    <app-card
      title=""
      url_img="/assets/images/test/back_card_tarot.jpg"
    />
  </div>
</div>
