<div class="temp-header">
  <img id="logo" srcset="/assets/images/head_logo.webp" alt="">
  <div class="input-icon-right search">
    <input type="text" class="input-rounded" placeholder="¿En qué te enfocarás hoy?">
    <mat-icon class="input-icon material-symbols-rounded" >search</mat-icon>
  </div>

  <div class="options-group">
    @switch (role) {
      @case (roles.GUEST){
        <div class="flex gap-3">
          <button class="btn !font-semibold" id="btn-login" routerLink="/auth/login" >
            Iniciar sesión
          </button>
          <button class="btn-beige" routerLink="/auth/signup">
            Suscríbete
          </button>

          <button class="btn-user-menu" [matMenuTriggerFor]="menu">
            <mat-icon class="material-symbols-rounded text-gold" >account_circle</mat-icon>
            <img srcset="/assets/images/menu-scale.svg" width="20" alt="">
          </button>

          <mat-menu #menu="matMenu">
            <div class="flex items-center p-[15px]">
              <mat-icon class="material-symbols-rounded font-light" >verified</mat-icon>
              <span class="text-[16px] leading-[21.79px] font-bold" >Suscríbete a Soy Zen </span>
            </div>

            <mat-divider />

            <button mat-menu-item class="!min-h-[40px]" routerLink="/auth/signup">
              <span class="text-[16px] leading-[21.79px] font-bold" >Regístrate </span>
            </button>

            <button mat-menu-item class="!min-h-[40px]" routerLink="/auth/login" >
              <span class="text-[16px] leading-[21.79px] font-bold" >Iniciar Sesión </span>
            </button>

          </mat-menu>
        </div>
      }
      @case (roles.REGISTER) {
        <div class="flex gap-3">
          <button class="btn-beige">
            Suscríbete
          </button>

          <button class="btn-user-menu" [matMenuTriggerFor]="menu">
            <mat-icon class="material-symbols-rounded text-gold" >account_circle</mat-icon>
            <img srcset="/assets/images/menu-scale.svg" width="20" alt="">
          </button>

          <mat-menu #menu="matMenu">
            <div class="menu-data-user">
              <span class="font-bold text-[16px] leading-[21.79px]">Michelle</span>
              <span class="text-[12px] font-normal leading-[16.34px] text-[#9FA4AE]" >{{'michelle30@email.com'}}</span>
            </div>
            <mat-divider />
            <button mat-menu-item>
              <mat-icon class="material-symbols-rounded font-normal" >account_circle</mat-icon>
              <span class="text-[16px] leading-[21.79px] font-bold" >Mi Perfil </span>
            </button>
            <button mat-menu-item>
              <mat-icon class="material-symbols-rounded font-light" >settings</mat-icon>
              <span class="text-[16px] leading-[21.79px] font-bold" >Configuración  </span>
            </button>
            <button mat-menu-item>
              <mat-icon class="material-symbols-rounded font-light" >verified</mat-icon>
              <span class="text-[16px] leading-[21.79px] font-bold" >Suscribirme </span>
            </button>

            <mat-divider />

            <button mat-menu-item class="!min-h-[40px]">
              <span class="text-[16px] leading-[21.79px] font-bold" >Soporte </span>
            </button>

            <button mat-menu-item class="!min-h-[40px]" (click)="logout()" >
              <span class="text-[16px] leading-[21.79px] font-bold" >Cerrar Sesión </span>
            </button>

          </mat-menu>
        </div>
      }

      @case (roles.SUBSCRIBE){
        <div class="flex items-center gap-3 ">
          <button class="grid place-content-center">
            @if(notifications().length > 0){
              <mat-icon svgIcon="my-bell-notification"  [matMenuTriggerFor]="notify"></mat-icon>
            }@else{
              <mat-icon svgIcon="my-bell-empty" class="!h-[20px]" [matMenuTriggerFor]="notify"></mat-icon>

            }
            <mat-menu #notify="matMenu" class="menu-notify">
              <div class="body-notify">
                <button class="justify-self-end" ><mat-icon class="material-symbols-rounded !font-extralight" svgIcon="my-settings" ></mat-icon></button>

                <div class="flex items-end justify-between mb-6">
                  <span class="text-[24px] leading-[38px] font-normal" >Notificaciones</span>

                  <button class="text-[14px] leading-[24px] font-semibold  "  [class]="notifications().length > 0 ? 'text-blue' : 'text-gray' " (click) = "$event.stopPropagation(); clearNotify()" >Borrar todo</button>
                </div>
                @for (item of notifications(); track $index) {
                  <app-nofity-item [notify]="item" />
                }
              </div>
            </mat-menu>
          </button>

          <button class="btn-user-menu" [matMenuTriggerFor]="menu">
            <mat-icon class="material-symbols-rounded text-gold" >account_circle</mat-icon>
            <img srcset="/assets/images/menu-scale.svg" width="20" alt="">
          </button>
          <mat-menu #menu="matMenu">
            <div class="menu-data-user">
              <span class="font-bold text-[16px] leading-[21.79px]">Michelle</span>
              <span class="text-[12px] font-normal leading-[16.34px] text-[#9FA4AE]" >{{'michelle30@email.com'}}</span>
            </div>
            <mat-divider />
            <button mat-menu-item>
              <mat-icon class="material-symbols-rounded font-normal" >account_circle</mat-icon>
              <span class="text-[16px] leading-[21.79px] font-bold" >Mi Perfil </span>
            </button>
            <button mat-menu-item>
              <mat-icon class="material-symbols-rounded font-light" >settings</mat-icon>
              <span class="text-[16px] leading-[21.79px] font-bold" >Configuración  </span>
            </button>
            <button mat-menu-item>
              <mat-icon class="material-symbols-rounded font-light" >check_circle</mat-icon>
              <span class="text-[16px] leading-[21.79px] font-bold" >Manejar Suscripción </span>
            </button>

            <mat-divider />

            <button mat-menu-item class="!min-h-[40px]">
              <span class="text-[16px] leading-[21.79px] font-bold" >Soporte </span>
            </button>

            <button mat-menu-item class="!min-h-[40px]" (click)="logout()" >
              <span class="text-[16px] leading-[21.79px] font-bold" >Cerrar Sesión </span>
            </button>

          </mat-menu>
        </div>
      }
    }

  </div>
</div>

@if(role == roles.GUEST){
  <div class="landing-guest">
    <div id="center">
      <h1 class=" text-[40px] leading-[54.48px] sm:text-[52px] sm:leading-[70.82px] sm:font-light" >¡Bienvenido a Soy Zen!</h1>

      <h3 class="font-semibold text-[16px] leading-[24px] sm:text-[20px] sm:leading-[32px] sm:font-semibold" >¡Realiza nuestro test y obtén un programa especial de 21 días!</h3>

      <button class="btn-white !text-[16px] mt-3" routerLink="/test" >Comenzar mi camino</button>
    </div>

  </div>
}
@else if(role == roles.REGISTER){
  <div class="landing-freemium">
    <div class="grid gap-2">
      <div class="flex items-center">
        <span class="!font-semibold text-[24px] leading-[32px] sm:text-[28px] sm:leading-[32px]" >Hola</span>
        <span class="!font-normal text-[24px] leading-[32px] sm:text-[28px] sm:leading-[32px]">, Michelle...</span>
      </div>
      <mat-divider />
    </div>

    <div class="grid gap-4 py-16">
      <span class="!font-light text-[28px] leading-[38.14px] sm:text-[52px] sm:leading-[70.82px]">Programa de 21 días</span>
      <h3 class=" text-[16px] leading-[22px] sm:text-[18px] sm:leading-[32px]">Ya puedes disfrutar de tu programa personalizado.</h3>

      <button class="btn-white !text-[14px] !leading-[19.6px] sm:!text-[16px] sm:!leading-[22.4px] font-bold" id="see-program" >Ver Programa</button>
    </div>
  </div>
}
@else {
  <div class="flex items-center ml-[40px] mt-[35px]">
    <span class="!font-semibold text-[24px] leading-[32px] sm:text-[28px] sm:leading-[32px]" >Hola</span>
    <span class="!font-normal text-[24px] leading-[32px] sm:text-[28px] sm:leading-[32px]">, Michelle...</span>
  </div>
}
