<div class="temp-header">
  <img id="logo" srcset="/assets/images/head_logo.webp" alt="">
  <div class="content-search" *ngIf="showInput()">
    <div class="input-icon-right search">
      <input

        type="text"
        [(ngModel)]="searchText"
        #inputSearch
        (focus)=" searchText != '' && showSearch.set(true)"
        (input)="onInputChange($event)"
        class="input-rounded !text-[#686D76] !placeholder-[#686D76]"
        placeholder="¿En qué te enfocarás hoy?">

      @if(sectionData().loadingSearch){
        <mat-icon class="input-icon material-symbols-rounded animate-spin" >progress_activity</mat-icon>
      }@else {
        <mat-icon class="input-icon material-symbols-rounded" >search</mat-icon>
      }

    </div>

    <div class="content-result"  #menu  *ngIf="showSearch()">

      @for (item of listSearch(); track $index) {
        <div class="item-result" (click)="openPost(item)" >
          <div class="img">
            <img [src]="getImage(item.thumbnail)" alt="">
          </div>

          <div class="grid">
            <span class="text-[14px] leading-[19.07px]" [innerHtml]="item.title">  </span>
            <span class="text-[10px] leading-[13.62px] font-medium" > {{item.category}} </span>
          </div>
        </div>
      }

      @if(listSearch().length == 0){
        <div class="p-4 grid gap-1 justify-items-center">
          <img srcset="/assets/images/head_logo.webp" width="150" alt="">
          <div class="flex">
            <mat-icon class="material-symbols-rounded font-light" >info</mat-icon>
            <span class="font-medium">No se encontraron resultados</span>
          </div>
        </div>
      }

    </div>
  </div>

  <div class="options-group">
    @switch (role) {
      @case (roles.GUEST){
        <div class="flex gap-3 gap-0-5">
          <button class="btn !font-semibold" id="btn-login" routerLink="/auth/login" >
            Iniciar sesión
          </button>
          <button class="btn-beige movile" routerLink="/premium/subscribe_operator">
            Suscríbete
          </button>

          <button class="btn-user-menu" [matMenuTriggerFor]="menu">
            <mat-icon class="material-symbols-rounded text-gold iconoUser" >account_circle</mat-icon>
            <img srcset="/assets/images/menu-scale.svg" class="imgBar" alt="">
          </button>

          <mat-menu #menu="matMenu">
            <div class="flex items-center gap-2 p-[15px]">
              <mat-icon class="material-symbols-rounded font-light" >verified</mat-icon>
              <span class="text-[16px] leading-[21.79px] font-bold" >Suscríbete a Soy Zen </span>
            </div>

            <mat-divider class="mat-divider"  />

            <button mat-menu-item class="!min-h-[40px]" routerLink="/auth/signup">
              <span class="text-[16px] leading-[21.79px] font-bold" >Regístrate </span>
            </button>

            <button mat-menu-item class="!min-h-[40px]" routerLink="/auth/login" >
              <span class="text-[16px] leading-[21.79px] font-bold" >Iniciar Sesión </span>
            </button>

          </mat-menu>
        </div>
      }
      @case (roles.REGISTER) {
        <div class="flex gap-3">
          <button class="btn-beige" routerLink="/premium/subscribe_operator">
            Suscríbete
          </button>

          <button class="btn-user-menu" [matMenuTriggerFor]="menu">
            <mat-icon class="material-symbols-rounded text-gold  iconoUser" >account_circle</mat-icon>
            <img srcset="/assets/images/menu-scale.svg" class="imgBar" alt="">
          </button>

          <mat-menu #menu="matMenu">
            <div class="menu-data-user">
              <span class="font-bold text-[16px] leading-[21.79px]"> {{nombre}} </span>
              <span class="text-[12px] font-normal leading-[16.34px] text-[#9FA4AE]" >{{email}}</span>
            </div>
            <mat-divider />
            <button mat-menu-item>
              <mat-icon class="material-symbols-rounded font-normal" >account_circle</mat-icon>
              <span class="text-[16px] leading-[21.79px] font-bold" >Mi Perfil </span>
            </button>
            <button mat-menu-item>
              <mat-icon class="material-symbols-rounded font-light" >settings</mat-icon>
              <span class="text-[16px] leading-[21.79px] font-bold" >Configuración  </span>
            </button>
            <button mat-menu-item>
              <mat-icon class="material-symbols-rounded font-light" >verified</mat-icon>
              <span class="text-[16px] leading-[21.79px] font-bold" routerLink="/premium/subscribe_operator" >Suscribirme </span>
            </button>

            <mat-divider />

            <button mat-menu-item class="!min-h-[40px]">
              <span class="text-[16px] leading-[21.79px] font-bold" >Soporte </span>
            </button>

            <button mat-menu-item class="!min-h-[40px]" (click)="logout()" >
              <span class="text-[16px] leading-[21.79px] font-bold" >Cerrar Sesión </span>
            </button>

          </mat-menu>
        </div>
      }

      @case (roles.SUBSCRIBE){
        <div class="flex items-center gap-3 ">
          <button class="grid place-content-center" [matMenuTriggerFor]="notify">
            @if(notifications().length > 0){
              <mat-icon svgIcon="my-bell-notification" ></mat-icon>
            }@else{
              <mat-icon svgIcon="my-bell-empty" class="!h-[20px]"></mat-icon>
            }
            <mat-menu #notify="matMenu" class="menu-notify">
              <div class="body-notify">
                <button class="justify-self-end" ><mat-icon class="material-symbols-rounded !font-extralight" svgIcon="my-settings" ></mat-icon></button>

                <div class="flex items-end justify-between mb-6">
                  <span class="text-[24px] leading-[38px] font-normal" >Notificaciones</span>

                  <button class="text-[14px] leading-[24px] font-semibold  "  [class]="notifications().length > 0 ? 'text-blue' : 'text-disable' " (click) ="$event.stopPropagation(); clearNotify()" >Borrar todo</button>
                </div>
                @for (item of authData().notifications; track $index) {
                  <app-nofity-item [notify]="item" />
                }

                @if(authData().notifications.length == 0){
                  <div class="grid justify-items-center content-center">
                    <img src="/assets/images/notify/logo_notify.png" alt="">
                    <span class="text-[14px] leading-[19.07px] font-semibold" >Aún no tienes <br/>
                      notificaciones</span>
                  </div>
                }
              </div>
            </mat-menu>
          </button>

          <button class="btn-user-menu" [matMenuTriggerFor]="menu">
            <mat-icon class="material-symbols-rounded text-gold iconoUser" >account_circle</mat-icon>
            <img srcset="/assets/images/menu-scale.svg" class="imgBar" alt="">
          </button>
          <mat-menu #menu="matMenu">
            <div class="menu-data-user">
              <span class="font-bold text-[16px] leading-[21.79px]"> {{nombre}} </span>
              <span class="text-[12px] font-normal leading-[16.34px] text-[#9FA4AE]" >{{email}}</span>
            </div>
            <mat-divider />
            <button mat-menu-item>
              <mat-icon class="material-symbols-rounded font-normal" >account_circle</mat-icon>
              <span class="text-[16px] leading-[21.79px] font-bold" >Mi Perfil </span>
            </button>
            <button mat-menu-item>
              <mat-icon class="material-symbols-rounded font-light" >settings</mat-icon>
              <span class="text-[16px] leading-[21.79px] font-bold" >Configuración  </span>
            </button>
            <button mat-menu-item (click)="openAlertSubscribe()">
              <mat-icon class="material-symbols-rounded font-light" >check_circle</mat-icon>
              <span class="text-[16px] leading-[21.79px] font-bold" >Manejar Suscripción </span>
            </button>

            <mat-divider />

            <button mat-menu-item class="!min-h-[40px]">
              <span class="text-[16px] leading-[21.79px] font-bold" >Soporte </span>
            </button>

            <button mat-menu-item class="!min-h-[40px]" (click)="logout()" >
              <span class="text-[16px] leading-[21.79px] font-bold" >Cerrar Sesión </span>
            </button>

          </mat-menu>
        </div>
      }
    }

  </div>
</div>



<ng-template #modalEvent>
  <mat-dialog-actions class="grid">
    <div class="grid pb-8 w-full">
      <button class="btn justify-self-end "><mat-icon class="!w-[30px] !h-[30px] text-[30px] font-extralight material-symbols-rounded" mat-dialog-close="true" > close </mat-icon></button>

      <div class="grid gap-5 text-center justify-items-center w-[300px] m-auto">
        <span class="text-[28px] font-medium leading-[38.14px]" >Hazte Premium</span>

        <span class="text-[14px] leading-[22px] font-normal">
          Suscríbete y obtén full acceso a todos los contenidos y funcionalidades de Soy Zen.
        </span>

        <button class="btn-gold" routerLink="/premium/subscribe_operator" (click)="close()" >Suscripción Premium</button>
      </div>
    </div>


  </mat-dialog-actions>
</ng-template>

<ng-template #modalVideo>
  <app-videoplayer [urlPlayer]="urlPlayer"  />
</ng-template>

<ng-template #modalAudio>
  <app-audio-player [urlPlayer]="urlPlayer " [url_img]="url_img" [title]="title" [category]="category"/>
</ng-template>

<ng-template #modalSubscribeAlert>
  <app-modal-subscribe-alert />
</ng-template>
