@media (width < 820px) and (max-device-width: 820px){

  .temp-header {
    .search {
      display: none !important;
    }
  }
}

@media (width < 620px) and (max-device-width: 620px) {
  .temp-header {
    padding: 12px 20px !important;

    #logo {
      width: 137px !important;
    }

    #btn-login{
      display: none !important;
    }

  }

  .landing-freemium {
    padding: 20px !important;
  }

  .btn-white{
    padding: 10px 50px !important;
  }

  .landing-guest{

    .main {
      padding: 10px 14px !important;
      grid-template-rows: auto max-content;

      #center {
        h1 {
          text-align: left;
        }

        button{
          width: 100%;
        }
      }
    }
  }
  .movile{
    padding: 4px 12px;
    border-radius: 20px;
  }
  .gap-0-5{
    gap: 0.5rem ;
  }
  .btn-user-menu{
    padding: 1px 5px !important;
  }
  .iconoUser{
    height: 28px;
    width: 28px;
    font-size: 28px;
    font-weight: 300;
  }

  .imgBar{
    height: 28px;
    width: 25px;
  }
}
