.temp-header{
  display: flex;
  width: 100%;
  align-items: center;
  padding: 20px 30px;
  justify-content: space-between;
  border-bottom: 1px solid #E0E2E7;

  #logo{
    width: 180px;
  }

  .search{
    mat-icon{
      color: black !important;
    }
    width: 100%;
    max-width: 350px;
  }

  .btn-user-menu{
    display: flex;
    align-items: center;
    gap: 5px;
    outline: 1px solid var(--gray);
    padding: 1px 10px !important;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
  }
}

.body-notify{
  padding: 10px 20px;
  display: grid;
  gap: 10px;
  min-height: 400px;
  grid-template-rows: max-content max-content auto;
}

::ng-deep{
  .mat-mdc-menu-panel{
    max-width: 250px;
    width: 250px;

    button{
      mat-icon{
        margin-right: 5px !important;
      }
    }

    border-radius: 12px !important;
    -webkit-border-radius: 12px !important;
    -moz-border-radius: 12px !important;
    -ms-border-radius: 12px !important;
    -o-border-radius: 12px !important;
  }

  .menu-notify.mat-mdc-menu-panel{
      max-width: 380px !important;
      width: 380px !important;
    }
  }

.menu-data-user{
  display: grid;
  padding: 15px;
}
