
.temp-header{
  display: flex;
  width: 100%;
  align-items: center;
  padding: 20px 30px;
  justify-content: space-between;
  border-bottom: 1px solid #E0E2E7;

  #logo{
    width: 180px;
  }

  .search{
    mat-icon{
      color: black !important;
    }
    width: 100%;
    max-width: 350px;
  }

  .btn-user-menu{
    min-width: max-content;
    display: flex;
    align-items: center;
    gap: 5px;
    border: 1px solid var(--gray);
    padding: 1px 6px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
  }
}

.body-notify{
  padding: 10px 20px;
  display: grid;
  gap: 10px;
  min-height: 400px;
  grid-template-rows: max-content max-content auto;
}

::ng-deep{
  .mat-mdc-menu-panel{
    max-width: 250px;
    width: 250px;
    margin-top: 22px;

    button{
      mat-icon{
        margin-right: 5px !important;
      }
    }

    border-radius: 12px !important;
    -webkit-border-radius: 12px !important;
    -moz-border-radius: 12px !important;
    -ms-border-radius: 12px !important;
    -o-border-radius: 12px !important;
  }

  .menu-notify.mat-mdc-menu-panel{
      max-width: 380px !important;
      width: 380px !important;
      max-height: 380px;
    }
  }

.menu-data-user{
  display: grid;
  padding: 15px;
}

.content-search{
  position: relative;
  width: 100%;
  max-width: 350px;

  .content-result{
    width: 100%;
    max-width: 400px;
    max-height: 270px;
    overflow-y: auto;
    z-index: 99;
    position: absolute;
    display: grid;
    gap: 10px;
    width: 100%;
    background: white;
    outline: 1.5px solid #E0E2E7;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }

  .item-result{
    cursor: pointer;
    display: flex;
    gap: 10px;
    padding: 10px;

    .img{
      width: 40px;
      height: 40px;
      min-width: 40px;
      overflow: hidden;

      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
    }

    &:hover{
      background: rgb(247, 244, 244);
    }
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
  }
}
.mat-divider{
  border-top-color: rgba(224, 226, 231, 1) !important
}

.iconoUser{
  height: 28px;
  width: 28px;
  font-size: 30px;
  font-weight: 300;
}


/*prueba para iphone 8*/

.notify-back-arrrow{
  display: none;
}
.centrar{
  height: initial;
}

.content-notification{
  height: 100%;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: -1;
}
.content-notification span{
  margin-top: -10px;
}
.mtp14{
  margin-top: 14px !important;
}
