<div class="temp-header">
  <img id="logo" srcset="/assets/images/head_logo.webp" alt="">
  <div class="input-icon-right search">
    <input type="text" class="input-rounded" placeholder="¿En qué te enfocarás hoy?">
    <mat-icon class="input-icon material-symbols-rounded" >search</mat-icon>
  </div>

  <div class="options-group">
    @switch (type_login) {
      @case ('guest'){
        <div class="flex gap-3">
          <button class="btn !font-semibold">
            Iniciar sesión
          </button>
          <button class="btn-beige">
            Suscríbete
          </button>

          <button class="btn-user-menu">
            <mat-icon class="material-symbols-rounded text-gold" >account_circle</mat-icon>
            <img srcset="/assets/images/menu-scale.svg" width="20" alt="">
          </button>
        </div>
      }
      @case ('freemium') {
        <div class="flex gap-3">
          <button class="btn-beige">
            Suscríbete
          </button>

          <button class="btn-user-menu">
            <mat-icon class="material-symbols-rounded text-gold" >account_circle</mat-icon>
            <img srcset="/assets/images/menu-scale.svg" width="20" alt="">
          </button>
        </div>
      }
    }

  </div>
</div>

@if(type_login == 'guest'){

}
@else if(type_login == 'freemium'){
  <div class="landing-freemium">
    <div class="grid gap-2">
      <div class="flex items-center">
        <span class="!font-semibold text-[24px] leading-[32px] sm:text-[28px] sm:leading-[32px]" >Hola</span>
        <span class="!font-light font-2xl">, Michelle...</span>
      </div>
      <mat-divider />
    </div>

    <div class="grid gap-4 py-16">
      <span class="!font-light text-[28px] leading-[38.14px] sm:text-[52px] sm:leading-[70.82px]">Programa de 21 días</span>
      <h3 class=" text-[16px] leading-[22px] sm:text-[18px] sm:leading-[32px]">Ya puedes disfrutar de tu programa personalizado.</h3>

      <button class="btn-white" id="see-program" >Ver Programa</button>
    </div>
  </div>
}
