@media (width < 600px) , (max-device-width: 600px) {

  .temp-audioplayer{
    ::ng-deep{

      vg-controls{
        height: 100% !important;
        padding: 20px !important;
      }
    }

    .close{
      padding: 5px !important;
    }
  }



.temp-info{
  display: grid;
  margin: auto;
  gap: 30px;
  max-width: 620px !important;
  padding: 70px 5px !important;
}


}
