<div class="temp-audioplayer">

  <vg-player #videoPlayer (onPlayerReady)="onPlayerReady($event)"  (mousemove)="showTopControl()">
    <!-- <div class="controlTop animate__animated " [class]="controlVideoPlayer().hideTop ? 'animate__fadeOut' : 'animate__fadeIn'" *ngIf="controlVideoPlayer().isOver">
      <div class="flex justify-between">
        <h1 class="text-white text-[16px] leading-[32px] font-bold">Yoga con Alegría - Chakra Muladhara</h1>
        <div class="endTopPlayer">
          <button class="btn-green items-center flex gap-1">
            <mat-icon class="material-symbols-rounded" svgIcon="my-switch-video"></mat-icon>
            Escena
          </button>
          <button class="btn close grid place-content-center" routerLink="/" >
            <mat-icon class="material-symbols-rounded !font-thin !w-[30px] !h-[30px] !text-[30px]">close</mat-icon>
          </button>
        </div>

      </div>
    </div> -->

    <div class="background_audio">
      <img [srcset]="getImg(url_img)" alt="">
      <div class="gradient"></div>
    </div>


    <vg-controls >
      <button class="btn close" routerLink="/" >
        <mat-icon class="material-symbols-rounded !font-thin !w-[38px] !h-[38px] !text-[38px] text-white" mat-dialog-close="true" >close</mat-icon>
      </button>
      <div class="info-audio">
        <div class="grid content-start gap-8">


          <span class="text-[40px] leading-[32px] text-white text-center letraGrande" >{{category}}</span>

          <span class="text-white text-center text-[20px] leading-[28px] font-bold margin-subtitle subtePEque" [innerHtml]="titleBold()">

          </span>
        </div>

        <div class="grid gap-6 self-end justify-self-end mb-5">
          <button  (click)="openFeelModal()">
            <mat-icon class="material-symbols-rounded font-thin !h-[28px] !w-[28px] !text-[28px]" svgIcon="my-smile-video"></mat-icon>
          </button>

          <button>
            <mat-icon class="material-symbols-rounded font-thin !h-[32px] !w-[32px] !text-[32px]">share</mat-icon>
          </button>

          <button (click)="openBottomSheet()">
            <mat-icon class="material-symbols-rounded font-thin !h-[32px] !w-[32px] !text-[32px]">info</mat-icon>
          </button>
        </div>

      </div>

      <div class="grid w-full controls">
        <vg-scrub-bar>
          <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
          <vg-scrub-bar-buffering-time>
          </vg-scrub-bar-buffering-time>
          <div class="progress-bar"></div>

        </vg-scrub-bar>
        <div class="flex justify-between">
          <vg-time-display
            vgProperty="current"
            vgFormat="mm:ss"
          ></vg-time-display>
          <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>
        </div>
        <div class="content-control">

          <button  (click)="!isLock && ReplayMore()">
            <mat-icon class="material-symbols-rounded font-thin !h-[55px] !w-[55px] !text-[55px]">skip_previous</mat-icon>
          </button>
          <button (click)="!isLock && Replay()" >
            <mat-icon class="material-symbols-rounded font-thin !h-[38px] !w-[38px] !text-[38px]">replay_10</mat-icon>
          </button>

          @if(isLock){
            <button class="text-white">
              <mat-icon  class="material-symbols-rounded font-thin text-[32px] !w-[32px] !h-[32px]" svgIcon="my-lock" ></mat-icon>
            </button>
          }@else {
            <button class="text-white" id="play" (click)="playPause()">
              @if(isPlaying()){
              <mat-icon class="material-symbols-rounded font-thin !h-[48px] !w-[48px] !text-[48px]"
                >pause_circle</mat-icon
              >
              } @else{
              <mat-icon class="material-symbols-rounded font-thin !h-[48px] !w-[48px] !text-[48px]"
                >play_circle</mat-icon
              >
              }
            </button>
          }

          <button (click)="!isLock && Forward()">
            <mat-icon class="material-symbols-rounded font-thin !h-[38px] !w-[38px] !text-[38px]"
              >forward_10</mat-icon
            >
          </button>

          <button (click)="!isLock && ForwardMore()">
            <mat-icon class="material-symbols-rounded font-thin !h-[55px] !w-[55px] !text-[55px]">
              skip_next
            </mat-icon>
          </button>

        </div>

      </div>
    </vg-controls>

    <audio

    style="width: 100vw;height: 100vh;"
      [vgMedia]="$any(myMedia)"
      #myMedia
      id="myMedia"
      preload="auto"

      [src]="getImg(urlPlayer)"
    >



    </audio>

    <!-- <video [vgMedia]="$any(slave)" #slave id="slaveVideo" preload="auto">
        <source src="https://www.youtube.com/watch?v=0kItFB6dJzw" type="video/mp4">
    </video> -->
  </vg-player>
  @if(isLock){
    <div class="bg-message-lock">
      <button class="btn justify-self-end absolute top-3 right-3" mat-dialog-close="true" ><mat-icon class="!w-[30px] !h-[30px] text-[30px] font-extralight material-symbols-rounded" > close </mat-icon></button>

        <div class="grid gap-5 text-center justify-items-center w-[300px] m-auto">
          <span class="text-[28px] font-medium leading-[38.14px] !text-white" >Hazte Premium</span>

          <span class="text-[14px] leading-[22px] font-normal !text-white">
            Suscríbete y obtén full acceso a todos los contenidos y funcionalidades de Soy Zen.
          </span>

          <button class="btn-gold"  routerLink="/premium/subscribe_operator"   mat-dialog-close="true" >Suscripción Premium</button>
        </div>
    </div>
  }
</div>


<ng-template #modalFeel>
  <div class="grid px-5 gap-8">
    <button mat-dialog-close="true" class="!pt-5 pr-3 justify-self-end btn-no-outline">
      <mat-icon class="justify-self-end  material-symbols-rounded !font-light !w-[35px] !h-[35px] !text-[32px] !text-[#686D76]"  >close</mat-icon>
    </button>

    <span class="text-[20px] font-bold leading-[27.24px] text-center !text-[var(--dark-gray)]" >¿Cómo te sentiste?</span>


    <div class="flex justify-around pb-[50px] content-flex-feel">

      @for (item of post()?.feedbacks; track $index) {
        <button class="grid justify-items-center p-[5px]" [class.feel-select]="feelSelect() == item.id" (click)="setFeedback(item.id)">
          <img [src]="getImg(item.image)" alt="">
          <span class="text-[12px] leading-[16.34px] font-normal" > {{item.title}} </span>
        </button>
      }
<!--
      <button class="grid justify-items-center" (click)="feelSelect.set(2)">
        <img src="/assets/images/feelings/bien_card.svg" alt="">
        <span class="text-[12px] leading-[16.34px] font-normal" >Bien</span>
      </button>

      <button class="grid justify-items-center" (click)="feelSelect.set(3)">
        <img src="/assets/images/feelings/indiferente_card.svg" alt="">
        <span class="text-[12px] leading-[16.34px] font-normal" >Indiferente</span>
      </button>

      <button class="grid justify-items-center" (click)="feelSelect.set(4)">
        <img src="/assets/images/feelings/sin_animos_card.svg" alt="">
        <span class="text-[12px] leading-[16.34px] font-normal" >Sin ánimos</span>
      </button> -->
    </div>
  </div>

</ng-template>


<ng-template #modalFeelMeditation>
  <div class="grid px-5 gap-5 justify-items-center pb-6">
    <button mat-dialog-close="true" class="!pt-4 justify-self-end">
      <mat-icon class="justify-self-end  material-symbols-rounded !font-light !w-[35px] !h-[35px] !text-[35px] !text-[#686D76]"  >close</mat-icon>
    </button>

    <button class="flex justify-items-center items-center gap-2" >
      <img src="/assets/images/feelings/sin_animos_card.svg" alt="">
      <span class="text-[16px] leading-[21.79px] font-semibold !text-[#686D76]" >Sin ánimos</span>
    </button>

    <span class="text-[16px] leading-[22px] font-bold text-center !text-[var(--dark-gray)] padSpan">No temas, siempre puedes volver a empezar. Te recomendamos hacer otra sesión.</span>

    <button class="btn-green"  mat-dialog-close="true" (click)="!isLock && ForwardMore(true)">Ver Meditación</button>
  </div>
</ng-template>

<ng-template #modalInfo>
  <div class="line-close-modal"></div>
  <div class="temp-info" (click)="closeSheet()">
    <span class="text-[20px] leading-[27.24px] font-bold" > {{post()?.title}} </span>



    <div class="text-[16px] leading-[24px] font-normal" [innerHtml]="post()?.description">
    </div>


  </div>

</ng-template>
