@media (width < 620px)  and (max-device-width: 620px){
    .landing-guest{
        min-height: 300px;
    }
    .ftSizemobile{
        font-size: 28px;
    }
    .landing-guest{
        padding: 40px 16.5px;
    }
    .marginMobile{
        padding-right: 5rem;
    }
}
