<div class="temp-enter-premium  animate__animated animate__fadeIn " style="view-transition-name: img-transition-background-green" >
  <header class="header">
    <img srcset="/assets/images/logo.webp" alt="">

    <button class="btn close " routerLink="/" > <mat-icon class="material-symbols-rounded !font-extralight !w-[36px] !h-[36px] !text-[36px]  !sm:text-[40px] !sm:h-[40px] !sm:w-[40px]">close</mat-icon> </button>
  </header>


  <div class="main">
    <h1 class=" text-[24px] font-medium sm:text-[40px] leading-[38px] sm:font-normal">Acceso Premium</h1>

    <h3 class=" tetx-[14px] sm:text-[20px] leading-[22px] sm:leading-[32px] font-normal" >
      Selecciona tu operadora de telefonía móvil y empieza a disfrutar de todos los beneficios.
    </h3>

    <button
    class="btn-gold !py-3 !text-[14px] sm:!text-[16px] !leading-[22.4px]"
    routerLink="/premium/subscribe_operator"
    >Quiero Suscribirme</button>

    <mat-divider></mat-divider>

    <p class="text-center text-[14px] leading-[19.07px] font-semibold">O suscríbete con:</p>

    <button
      class="btn-white !py-3 !text-[14px] sm:!text-[16px] !leading-[22.4px] !font-semibold"
    >Suscribirme con Tarjeta</button>
  </div>
</div>
