<div class="temp-enter-premium  animate__animated animate__fadeIn " style="view-transition-name: img-transition-background-green" >
  <header class="header">
    <img srcset="/assets/images/logo.webp" alt="">

    <button class="btn close" routerLink="/" > <mat-icon class="material-icons-outlined icon-200">close</mat-icon> </button>
  </header>


  <div class="main">
    <h1 class="text-3xl font-light">Acceso Premium</h1>

    <h3 class="font-light" >
      Selecciona tu operadora de telefonía móvil y empieza a disfrutar de todos los beneficios.
    </h3>

    <button
    class="btn-gold"
    routerLink="/premium/subscribe_operator"
    >Quiero Suscribirme</button>

    <mat-divider></mat-divider>

    <p class="text-center">O suscríbete con:</p>

    <button
      class="btn-white font-semibold"
    >Suscribirme con Tarjeta</button>
  </div>
</div>
