<div class="temp-digital-library animate__animated animate__fadeIn">
  <div class="grid gap-2">
    <div class="flex w-full justify-between items-center">
      <span class="text-[20px] leading-[28px] font-semibold sm:font-xl sm:text-[24px] sm:font-medium">Biblioteca Digital</span>

      <button class="btn flex !p-0 btn-seemore">
        VER TODO
        <mat-icon class="material-symbols-rounded" >keyboard_arrow_right</mat-icon>
      </button>
    </div>
  </div>

  <div class="content-info">
    <button class="card-library audioguide">
      <span class="text-[24px] leading-[32.69px] font-semibold text-white">Audioguías</span>
    </button>
    <button class="card-library ebook">
      <span class="text-[24px] leading-[32.69px] font-semibold sm:text-[32px] sm:leading-[43.58px] text-white">eBooks</span>
    </button>
  </div>
</div>
