<div class="temp-digital-library animate__animated animate__fadeIn">
  <div class="grid gap-2">
    <div class="flex w-full justify-between items-center">
      <span class="font-xl">Biblioteca Digital</span>

      <button class="btn flex !p-0 btn-seemore">
        VER TODO
        <mat-icon class="material-symbols-rounded" >keyboard_arrow_right</mat-icon>
      </button>
    </div>
  </div>

  <div class="grid grid-flow-col gap-3">
    <button class="card-library audioguide">
      <span class="title">Audioguías</span>
    </button>
    <button class="card-library ebook">
      <span class="title">eBooks</span>
    </button>
  </div>
</div>
