@media (width < 500px) {


  .temp-send-test-email {

    padding: 20px 10px;
    grid-template-rows: auto max-content;
    .content-send{
      button{
        width: 100% !important;
        padding: 10px 20px;
      }
      align-content: center;
    }

    #btn-close{
      display: none !important;
    }

  }


}
