@media (width < 500px) {


  .temp-send-test-email {

    padding: 20px 10px;



  }
  .content-send{
    button{
      width: 100% !important;
      padding: 10px 20px;
    }
  }
  .btn{
    display: none !important;
  }
}
