<div class="temp-send-test-email">
  <button class="btn " id="btn-close" routerLink="../">
    <mat-icon class="material-symbols-rounded material-symbols-rounded font-extralight !w-[40px] !h-[40px] text-[40px]"> arrow_back </mat-icon>
  </button>

  <div class="grid gap-4 justify-items-center max-w-[400px] mx-auto content-send">
    <img srcset="/assets/images/isotype.svg" alt="" />

    <h1 class=" text-[24px] leading-[32.69px] sm:text-[28px] sm:leading-[38px] text-center font-medium">
      ¡Hemos creado tu programa especial de 21 días!
    </h1>

    <h3 class="text-center font-semibold text-[16px] leading-[22px] sm:text-[20px]  second">
      Deja tus datos, te lo enviaremos por correo electrónico.
    </h3>

    <div class="form-group w-full  sm:w-11/12 input-icon-right">
      <input type="email" class="input w-full" placeholder="Email"  />
      <mat-icon class="input-icon material-symbols-rounded">mail</mat-icon>
    </div>

    <button class="btn-green" >Registrar email</button>

    <h3 class="my-4 text-center text-[18px] leading-[24.52px] sm:text-[20px] sm:leading-[34px] padd">¡También <b>disfrutarás</b> de un <b>acceso Freemium</b> a nuestro portal web!</h3>

  </div>

  <button class="text-black self-end sm:self-center sm:text-white underline font-light justify-self-start sm:justify-self-end" id="btn-skip" >Quiero hacerlo después</button>

</div>
