<div class="temp-send-test-email">
  <button class="btn" routerLink="../">
    <mat-icon class="material-symbols-outlined"> arrow_back </mat-icon>
  </button>

  <div class="grid gap-3 justify-items-center max-w-[400px] mx-auto content-send">
    <img srcset="/assets/images/isotype.svg" alt="" />

    <h1 class=" text-lx sm:text-3xl text-center font-medium title">
      ¡Hemos creado tu programa especial de 21 días!
    </h1>

    <h3 class="text-center font-medium second">
      Deja tus datos, te lo enviaremos por correo electrónico.
    </h3>

    <div class="form-group w-11/12 input-icon-right">
      <input type="email" class="input w-full" placeholder="Email"  />
      <mat-icon class="input-icon material-icons-outlined">mail</mat-icon>
    </div>

    <button class="btn-green" >Registrar email</button>

    <h3 class="my-4 text-center">¡También <b>disfrutarás</b> de un <b>acceso Freemium</b> a nuestro portal web!</h3>

  </div>

  <button class="text-black self-end sm:self-center sm:text-white underline font-light justify-self-start sm:justify-self-end" id="btn-skip" >Quiero hacerlo después</button>

</div>
