<div class="temp-subscribe_operator  animate__animated animate__fadeIn ">
  <header class="header">
    <button class="btn close" routerLink="/premium" >
      <mat-icon class="material-symbols-rounded font-light sm:font-extralight !w-[32px] !h-[32px] text-[32px] sm:!w-[40px] sm:!h-[40px] sm:text-[40px]"> arrow_back </mat-icon>
    </button>
  </header>

  <div class="main">
    <div class="grid gap-3">
      <h1 class="text-[24px] leading-[38px] font-medium sm:font-normal sm:text-[40px] sm:leading-[54.48px]">Suscríbete con tu Operadora</h1>
      <h4 class="text-dark-gray text-[14px] leadnig-[22px] sm:text-[16px] sm:leading-[28px] font-normal" >Selecciona tu operadora de telefonía móvil y empieza a disfrutar de todos los beneficios.</h4>
    </div>

    <div class="grid gap-4">
      <div class="card">
        <img srcset="/assets/images/movistar.png" alt="">
      </div>

      <div class="card">
        <img srcset="/assets/images/digitel.png" alt="">
      </div>
    </div>
  </div>


  <div class="info-suscription"  style="view-transition-name: img-transition-background-green" >

    <h1 class="text-[16px] leading-[22px] ml-[22px] sm:ml-0 !text-start sm:text-center font-medium sm:text-[32px] sm:leading-[43.58px] sm:max-w-[300px]" >¿Qué obtienes con
      tu suscripción?</h1>

    <div class="grid list">
      <div class="flex gap-1">
        <mat-icon class="material-symbols-rounded" >check</mat-icon>
        <h4 class="text-[14px] sm:text-[16px] leading-[19.07px] sm:-[21.79px] font-light" >Acceso al catálogo completo de clases de yoga y meditación, incluyendo sesiones especiales dictadas por expertos.</h4>
      </div>

      <div class="flex gap-1">
        <mat-icon class="material-symbols-rounded" >check</mat-icon>
        <h4 class="text-[14px] sm:text-[16px] leading-[19.07px] sm:-[21.79px]  font-light" >Descarga directa de ebooks y audioguías para trabajar en tu bienestar.</h4>
      </div>

      <div class="flex gap-1">
        <mat-icon class="material-symbols-rounded" >check</mat-icon>
        <h4 class="text-[14px] sm:text-[16px] leading-[19.07px] sm:-[21.79px]  font-light" >Lectura del taróscopo del fin de semana todos los jueves. ¡Directamente en tu correo!</h4>
      </div>

      <div class="flex gap-1">
        <mat-icon class="material-symbols-rounded" >check</mat-icon>
        <h4 class="text-[14px] sm:text-[16px] leading-[19.07px] sm:-[21.79px]  font-light" >Funciones avanzadas como seguimiento de progreso, mood tracker y programas adaptados a tus necesidades.</h4>
      </div>
    </div>
</div>
</div>
