<div class="temp-subscribe_operator  animate__animated animate__fadeIn ">
  <header class="header">
    <button class="btn close" routerLink="/premium" > <mat-icon class="material-icons-outlined icon-200">arrow_back</mat-icon> </button>
  </header>

  <div class="main">
    <div class="grid gap-3">
      <h1 class="text-2xl sm:text-4xl">Suscríbete con tu Operadora</h1>
      <h4 class="text-gray" >Selecciona tu operadora de telefonía móvil y empieza a disfrutar de todos los beneficios.</h4>
    </div>

    <div class="grid gap-4">
      <div class="card">
        <img srcset="/assets/images/movistar.png" alt="">
      </div>

      <div class="card">
        <img srcset="/assets/images/digitel.png" alt="">
      </div>
    </div>
  </div>


  <div class="info-suscription"  style="view-transition-name: img-transition-background-green" >

    <h1 class="text-lg sm:text-2xl" >¿Qué obtienes con
      tu suscripción?</h1>

    <div class="grid list">
      <div class="flex gap-1">
        <mat-icon class="material-icons-outlined" >check</mat-icon>
        <h4>Acceso al catálogo completo de clases de yoga y meditación, incluyendo sesiones especiales dictadas por expertos.</h4>
      </div>

      <div class="flex gap-1">
        <mat-icon class="material-icons-outlined" >check</mat-icon>
        <h4>Descarga directa de ebooks y audioguías para trabajar en tu bienestar.</h4>
      </div>

      <div class="flex gap-1">
        <mat-icon class="material-icons-outlined" >check</mat-icon>
        <h4>Lectura del taróscopo del fin de semana todos los jueves. ¡Directamente en tu correo!</h4>
      </div>

      <div class="flex gap-1">
        <mat-icon class="material-icons-outlined" >check</mat-icon>
        <h4>Funciones avanzadas como seguimiento de progreso, mood tracker y programas adaptados a tus necesidades.</h4>
      </div>
    </div>
</div>
</div>
