<div class="temp-create-account-success">
  <header class="header">
    <img srcset="/assets/images/head_logo.webp" alt="">

    <button class="btn close" routerLink="/" > <mat-icon class="material-icons-outlined icon-200">close</mat-icon> </button>
  </header>

  <div class="top">
    <h1 class="text-2xl sm:text-3xl" >¡Tu cuenta ha sido creada!</h1>
    <h4 class="text-gray" >Verifica en tu email la confirmación</h4>
  </div>

  <div class="content-info justify-content-center" style="view-transition-name: img-transition-background-green;">
    <div class="info">
      <div class="grid gap-7 mt-12  content-start max-w-[400px]">
        <h1 class="text-3xl" >Hazte Premium</h1>

        <h4>
          Tendrás full acceso a todas las clases de yoga, meditaciones, programas, seguimiento de progreso, notificaciones personalizadas y más.
        </h4>

        <button class="btn-gold" routerLink="/premium" >Quiero Suscribirme</button>
      </div>

      <div class="grid gap-3 justify-items-start">
        <p class="font-light" >Por ahora no deseo suscribirme,</p>
        <button class="btn-blur" id="go_home" routerLink="/" >Ir al inicio</button>
      </div>

    </div>

  </div>
</div>
