@media (width < 500px) , (max-device-width: 500px) {

  .temp-create-account-success {
    gap: 30px;
    .header{
      padding: 15px 10px;
      img{
        width: 140px;
      }

      .close{
        display: grid;
        place-content: center;
        width: 30px;
        height: 30px;
        mat-icon{
          width: 30px;
          height: 30px;
          font-size: 30px;
        }

      }
    }

    .top {
      justify-self: start;
      padding: 25px 15px 15px;
      // padding-top: 50px;
      gap: 5px !important;
      // #title{
      //   font-size: 24px !important;
      // }
    }

    .info{
      // gap: 40px;
    }
  }
.text-3xl{
  font-size: 28px;
  line-height: 38px;
  font-weight: 500;
}
h4 {
  font-size: 14px !important;
  line-height: 22px;
}

.btn-gold {
  width: 100%;
  padding: 10px;
  font-size: 14px;
line-height: 19.6px;
letter-spacing: 0.02em;
margin-top: 20px;
}

.mt-28{
  margin-top: 5rem;
}

}
