@media (width < 500px) {

  .temp-create-account-success {
    .header{
      padding: 15px 10px;
      img{
        width: 140px;
      }

      .close{
        display: grid;
        place-content: center;
        width: 20px;
        height: 20px;
        mat-icon{
          width: 20px;
          height: 20px;
          font-size: 20px;
        }

      }
    }

    .top {
      justify-self: start;
      padding: 15px;
      padding-top: 50px;
      #title{
        font-size: 24px !important;
        line-height: 38px;
      }
    }
  }
.text-3xl{
  font-size: 28px;
  line-height: 38px;
  font-weight: 500;
}
h4 {
  font-size: 14px !important;
  line-height: 22px;
}

.btn-gold {
  width: 100%;
  padding: 10px;
  font-size: 14px;
line-height: 19.6px;
letter-spacing: 0.02em;
}


}
