.temp-zen-today-list{
  display: grid;
  padding: 30px;
  gap: 15px;
  background-color: var(--background-gray);

  .list{
    display: flex;
    gap: 20px;
  }
}
::ng-deep{
  swiper-slide{
    margin: 0px;
    margin-left: 0px;
    margin-right:  20px;
    width: auto !important;
  }
}
