<div class="temp-zen-today-list animate__animated animate__fadeIn">
  <span class="text-[24px] font-medium">Mood Zen del día</span>

  <div class="list">
      <app-card
        [isNew]="true"
        title="Conectar con la energía de los 4 elementos"
        url_img="/assets/images/test/back_card.webp"
      />
      <app-card
        title="Flow shot energético"
        url_img="/assets/images/test/back_card_lg.jpg"

      />
      <app-card
        title="Conectar con la energía de los 4 elementos"
        url_img="/assets/images/test/back_card.webp"
      />
  </div>
</div>
