<div class="temp-zen-today-list animate__animated animate__fadeIn">
  <span class="font-xl">Mood Zen del día</span>

  <div class="list">
      <app-card
        title="Conectar con la energía de los 4 elementos"
        url_img="/assets/images/test/back_card.webp"
      />
      <app-card
        title="Flow shot energético"
        url_img="/assets/images/test/back_card_lg.jpg"

      />
      <app-card
        title="Conectar con la energía de los 4 elementos"
        url_img="/assets/images/test/back_card.webp"
      />
  </div>
</div>
