.content-card-article{
  padding: 0px 16.5px;
  .card{
    min-width: 280px;
    // min-height: 240px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    img{
      width: 100%;
      height: 234px;
      object-fit: cover;
      z-index: 0;
    }

    .body{
      top: 0;
      position: absolute;
      z-index: 1;
      width: 100%;
      height: 100%;
      display: grid;
      align-content: space-between;
      grid-template-rows: max-content max-content;

      *{
        color: white;
      }
    }

    .chip{
      display: flex;
      gap: 5px;
      align-items: center;
      padding: 8px;
      background-color:rgba($color:#000000,$alpha: 0.5);

      mat-icon{
        width: 20px;
        height: 20px;
        font-size: 20px;
      }

      *{
        color: white;
      }
      border-radius:50%;
      -webkit-border-radius:50%;
      -moz-border-radius:50%;
      -ms-border-radius:50%;
      -o-border-radius:50%;
    }

    .new{
      height: 24.34px;
      background-color: #EDE0C9;
      padding: 4px 9px;
      box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2);
      *{
        color: var(--dark-gray);
      }
      border-radius: 20px !important;
      -webkit-border-radius: 20px !important;
      -moz-border-radius: 20px !important;
      -ms-border-radius: 20px !important;
      -o-border-radius: 20px !important;
}

    .content-title{
      padding: 15px;
      backdrop-filter: blur(2px);
      background: rgba(0, 0, 0, 0.22);
      height: 78px;
      max-height: 78px;
      align-content: center;

    }

    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

  .avatar-info{
    padding: 10px 5px;
    display: flex;
    gap: 10px;
    .avatar{
      min-width: 40px;
      min-height: 40px;
      width: 40px;
      height: 40px;
      overflow: hidden;
      position: relative;

      img{
        width: 100%;
        height: 100%;
        position: absolute;
        object-fit: cover;

      }
      border-radius: 50%;
      border: 1px solid rgba(255, 255, 255, 1);
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
    }

    mat-icon{
      width: 24px;
      height: auto;
      font-size: 20px;
    }
  }
  .txtft{
    font-size: 14px;
    line-height: 19.07px;
    color: rgba(104, 109, 118, 1);
  }

  .txtCl{
    font-size: 16px;
    line-height: 22px;
    color: rgba(55, 58, 64, 1);
  }
  .title{

    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;

  }
}

::ng-deep{
  .mat-mdc-dialog-container .mdc-dialog__surface{
    padding: 15px 1px;
    border-radius: 0px!important;
    -webkit-border-radius: 0px!important;
    -moz-border-radius: 0px!important;
    -ms-border-radius: 0px!important;
    -o-border-radius: 0px!important;
  }

  .full-screen-modal-player{
    .mat-mdc-dialog-surface{
      background-color: black !important;
      display: grid;
      align-content: center;
    }
    .mdc-dialog__surface{
      border-radius: 0px !important;
      -webkit-border-radius: 0px !important;
      -moz-border-radius: 0px !important;
      -ms-border-radius: 0px !important;
      -o-border-radius: 0px !important;
    }

    .mat-mdc-dialog-container .mdc-dialog__surface:has(.modal-register){
      padding: 0px !important;
      border-radius: 20px!important;
      -webkit-border-radius: 20px!important;
      -moz-border-radius: 20px!important;
      -ms-border-radius: 20px!important;
      -o-border-radius: 20px!important;
    }
  }
  .tamanoAudio{
    width: 202px !important;
  }
}

.card-list{
  padding: 0px !important;
  max-width: 167px !important;
  .card{
    min-width: 0 !important;
    max-width: 167px !important;

  }
  img{
    max-width: 167px !important;
  }

  .content-title{
    height: auto !important;
    max-height: max-content !important;
  }
}
