
@media (width < 600px) , (max-device-width: 600px) {
    // .tamanoAudio{
    //     width: 167px ;
    //   }
    //   .tamanoVideo{
    //     width: 255px ;
    //   }

    .maxwidthVideo{
        max-width: 68vw !important;
        min-width: 255px !important;
        min-height: 160px !important;
        max-height: 42.66vw !important;
    }

    .content-title{
 
        height: 16vw !important;

  
      }

      .content-card-article{
        padding: 0 0 0 16.5px;
      }

   
}
