<div class="content-card-article animate__animated animate__fadeInRight animate__fast" [class.card-list]="isList" >
  <div class="card maxwidthVideo"  (click)="openDialog()">
    <img class="maxwidthVideo" [srcset]="getImg(url_img)" alt="">
    <div class="body">
      <div class="flex  p-3" [class]="isNew ? 'justify-end': 'justify-between' ">
        @if(isLock){
          <div class="chip">
              <mat-icon svgIcon="my-lock"></mat-icon>
            <!-- <p>30min</p> -->
          </div>
        }
        @if(isNew){
          <div class="chip new">
            <span class="font-semibold text-[12px]"  >Nuevo</span>
            <!-- <p>30min</p> -->
          </div>
        }
      </div>

      <div class="content-title">
        <span class="self-start font-sm text-white text-start leading-normal title"> {{title}} </span>
      </div>
    </div>
  </div>

  <div class="avatar-info">
    <div class="avatar">
      <img [src]=" getImg(user?.image) " alt="">
    </div>

    <div class="flex justify-between w-full items-center">
      <h4 class="font-semibold txtCl">{{ user?.name ?? ""}}</h4>
      <div class="flex items-center">
        <mat-icon class="material-symbols-rounded txtft">remove_red_eye</mat-icon>
        <span class="text-sm txtft" > {{post()!.countViews}} </span>
      </div>
    </div>
  </div>

  <ng-template #modalEvent>
    <mat-dialog-actions class="grid modal-register">
      <div class="grid pb-8 w-full">
        <button class="btn justify-self-end "><mat-icon class="!w-[30px] !h-[30px] text-[30px] font-extralight material-symbols-rounded" mat-dialog-close="true" > close </mat-icon></button>

        <div class="grid gap-5 text-center justify-items-center w-[300px] m-auto">
          <span class="text-[28px] font-medium leading-[38.14px]" >Hazte Premium</span>

          <span class="text-[14px] leading-[22px] font-normal">
            Suscríbete y obtén full acceso a todos los contenidos y funcionalidades de Soy Zen.
          </span>

          <button class="btn-gold" routerLink="/premium/subscribe_operator" (click)="close()">Suscripción Premium</button>
        </div>
      </div>


    </mat-dialog-actions>
  </ng-template>

</div>
