<div class="content-card-article animate__animated animate__fadeInRight animate__fast">
  <div class="card">
    <img [srcset]="url_img" alt="">
    <div class="body">
      <div class="flex  p-3" [class]="isNew ? 'justify-end': 'justify-between' ">
        @if(isLock){
          <div class="chip">
              <mat-icon svgIcon="my-lock"></mat-icon>
            <!-- <p>30min</p> -->
          </div>
        }
        @if(isNew){
          <div class="chip new">
            <span class="font-semibold text-[12px]"  >Nuevo</span>
            <!-- <p>30min</p> -->
          </div>
        }
      </div>


      <div class="content-title">
        <span class="self-start font-sm text-white text-start leading-normal"> {{title}} </span>
      </div>
    </div>
  </div>

  <div class="avatar-info">
    <div class="avatar">
      <img src="/assets/images/test/user_avatar_4.jpg" alt="">
    </div>

    <div class="flex justify-between w-full items-center">
      <h4 class="font-semibold">Llynier Tobia</h4>
      <div class="flex items-center">
        <mat-icon class="material-symbols-rounded">remove_red_eye</mat-icon>
        <span class="text-sm" >265</span>
      </div>
    </div>
  </div>

</div>
