<div class=" grid gap-2 animate__animated animate__slideInRight animate__fast" >
  <h1 class="text-[20px] leading-[27.24px] sm:text-[24px] sm:leading-[32.69px] text-center font-medium" >Selecciona los temas que te interesan</h1>
  <h3 class="text-gray text-center text-[14px] leading-[24px] sm:text-[16px] sm:leading-[24px]" >Puedes marcar más de uno</h3>


  <div class="list-interests">
    @for (interest of interestList; track $index) {
      <button  [class]="isSelected(interest) ? 'btn-beige' : 'btn-border-beige'" (click)="toogleSelect(interest)" > {{interest.name}} </button>
    }
  </div>

  <button class="justify-self-center !py-2 !w-full"
    [class]="interestSelected().length > 0 ? 'btn-green' : 'btn-disable' "
    (click)="interestSelected().length > 0 && nextStep()"

  id="btn-continue">Continuar</button>

</div>
