::ng-deep {
  mat-slider {
    .mdc-slider__track--active_fill {
      border-color: var(--green) !important;
    }

    .mdc-slider__track--inactive {
      background-color: var(--gray) !important;
    }

    .mdc-slider__thumb-knob {
      background-color: var(--green);
      border-color: var(--green) !important;
    }

  }

}

.content-focus{
  width: 100%;
  display: grid;
  gap: 80px;

  #btn-continue{
    width: 80% ;
    margin-top: 25px;
  }
}

.mat-mdc-slider{
  width: 90%;
  margin: 0px auto -40px;
  top: -35px;
}
