::ng-deep {
  mat-slider {
    .mdc-slider__track--active_fill {
      border-color: var(--green) !important;
    }

    .mdc-slider__track--inactive {
      background-color: var(--gray) !important;
    }

    .mdc-slider__thumb-knob {
      background-color: var(--green);
      border-color: var(--green) !important;
    }

  }

}

.content-focus{
  width: 100%;
  display: grid;
  gap: 25px;

  #btn-continue{
    width: 80% ;
    margin-top: 25px;
  }
}
h1{
  font-family: 'Noto Sans';
font-size: 24px;
font-weight: 400;
line-height: 27px;
letter-spacing: 0em;
text-align: center;

}
.btn-link2{

  display: none;


}

h2{
  font-family: Noto Sans;
font-size: 12px;
font-weight: 400;
line-height: 16px;
letter-spacing: 0em;
text-align: center;

}