.card{
  display: grid;
  gap: 10px;
  position: relative;
  justify-items: center;
  cursor: pointer;
  padding: 25px 2px;
  min-width: 120px;
  text-align: center;
  .check{
    opacity: 0;
  }
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  transition: all 0.15s cubic-bezier(0.46, 0.03, 0.52, 0.96);
  -webkit-transition: all 0.15s cubic-bezier(0.46, 0.03, 0.52, 0.96);
  -moz-transition: all 0.15s cubic-bezier(0.46, 0.03, 0.52, 0.96);
  -ms-transition: all 0.15s cubic-bezier(0.46, 0.03, 0.52, 0.96);
  -o-transition: all 0.15s cubic-bezier(0.46, 0.03, 0.52, 0.96);
}

.selected{
  background-color: rgba(237, 238, 241, 0.3);
  outline: 1.5px solid #2a544975;
  h2{
    font-family: Noto Sans;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;

  }
  .check{
    opacity: 1;
  }
}

.check{
  width: 16px;
  height: 16px;


  position: absolute;
  // color: var(--success);
  top: 5px;
  right: 5px;
}

h2{
  font-family: Noto Sans;
font-size: 14px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: center;

}

@media (width < 500px) {
  .selected{
    outline: none !important;
  }
}
