:host {
  display: block;
}
::ng-deep{
  .panel-feel .mat-mdc-dialog-container .mdc-dialog__surface{
    padding: 15px 1px;
    border-radius: 20px !important;
    -webkit-border-radius: 20px !important;
    -moz-border-radius: 20px !important;
    -ms-border-radius: 20px !important;
    -o-border-radius: 20px !important;
  }
  vg-player{
    position: absolute !important;
    aspect-ratio: 16 / 9;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  vg-controls {
    height: auto !important;
    padding: 5px 20px;
    background-color: transparent;
    background:linear-gradient(
      181deg,
      rgba(0, 0, 0, 0.03) 12%,
      rgba(45, 45, 47, 0.42) 35%,
      rgba(34, 34, 34, 0.87) 69%) !important;
  }

  vg-time-display{
    height: 20px !important;
  }

  vg-scrub-bar{
    margin: 0px !important;
    height: 30px !important;
  }



}


#play{
  mat-icon{
    width: 40px;
    height: 40px;
    font-size: 40px;
  }
}
mat-icon{
  color: white;
}

.content-control{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: auto max-content;
  // display: flex;
  // justify-content: space-between;
  align-items: center;
  margin: 10px 0px;
}

.controlTop{
  display: grid;
  z-index: 20;
  width: 100%;
  position: absolute;
  top: 0;
  padding: 10px 20px;
  background:linear-gradient(0deg, rgba(0, 0, 0, 0.03) 7%, rgba(45, 45, 47, 0.35) 34%, rgba(34, 34, 34, 0.8) 92%) !important;

  .endTopPlayer{
    display: flex;
    align-items: center;
  }


}


.opt-mobile{
  display: none;
}
.bg-message-lock{
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  z-index: 9999;
  background-color: rgba(0,0,0,0.6);
}

.btn-no-outline{
  outline: none;
}

.content-flex-feel{
  gap: 20px;
  justify-content: center;
  button{
    gap: 10px;
    width: 75px;
    span{
      color: var(--dark-gray);
    }
  }
}

.padSpan{
  padding: 5px 88px;
}
video {

  z-index: 1;
}

vg-controls {

  z-index: 99999;
}

.feel-select{
  border: 1px solid var(--green);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.desktoponly{
  margin-left: 55px;
}
