:host {
  display: block;
}
::ng-deep{
  vg-player{
    position: absolute !important;
    aspect-ratio: 16 / 9;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  vg-controls {
    height: auto !important;
    padding: 5px 20px;
    background-color: transparent;
    background:linear-gradient(
      181deg,
      rgba(0, 0, 0, 0.03) 12%,
      rgba(45, 45, 47, 0.42) 35%,
      rgba(34, 34, 34, 0.87) 69%) !important;
  }

  vg-time-display{
    height: 20px !important;
  }

  vg-scrub-bar{
    margin: 0px !important;
    height: 30px !important;
  }

}

#play{
  mat-icon{
    width: 40px;
    height: 40px;
    font-size: 40px;
  }
}
mat-icon{
  color: white;
}

.content-control{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: auto max-content;
}

.controlTop{
  display: grid;
  z-index: 1;
  width: 100%;
  position: absolute;
  top: 0;
  padding: 10px 20px;
  background:linear-gradient(0deg, rgba(0, 0, 0, 0.03) 7%, rgba(45, 45, 47, 0.35) 34%, rgba(34, 34, 34, 0.8) 92%) !important;

  .endTopPlayer{
    display: flex;
    align-items: center;
  }

  .opt-mobile{
    display: none;
  }
}
