@media (width < 400px) , (max-device-width: 400px) {

  .content-control{
    display: flex !important;
  }

  .content-control{
    .btns-controls{
      justify-content: start !important;
      mat-icon{
        height: 40px !important;
        width: 40px !important;
        font-size: 40px !important;
      }
      gap: 0px !important;
    }

  }
  video {

    z-index: 1;
    }
    .desktoponly{
      margin-left: 0 !important;
    }

}
@media (width < 600px) , (max-device-width: 600px) {

    .btn-modal-feel{
      padding: 10px 30px !important;
    }

    .desktoponly{
      margin-left: 0 !important;
    }

    .padSpan{
      padding: 5px 11.5vw;
    }

    .gap-8 {
      gap: 1rem;
  }

}
@media  (orientation: portrait) and (width < 400px) , (max-device-width: 400px) {

  .opt-video{
    display: flex !important;
  }

  .opt-mobile{
    display: none  !important;
  }
  .desktoponly{
    margin-left: 0 !important;
  }
}


@media (orientation: landscape) and (height < 450px) , (max-device-height: 450px) {
    .opt-video{
    display: flex !important;
  }

  .opt-mobile{
    display: none !important;
  }
  .content-control{
    display: flex !important;
  }
  .content-control{
    .btns-controls{
      justify-content: start !important;
      mat-icon{
        height: 40px !important;
        width: 40px !important;
        font-size: 40px !important;
      }
    }

  }
  .desktoponly{
    margin-left: 0 !important;
  }

  .padSpan{
    padding: 0;
  }
}

