<vg-player #videoPlayer (onPlayerReady)="onPlayerReady($event)"  (mousemove)="showTopControl()">
  <div class="controlTop animate__animated " [class]="controlVideoPlayer().hideTop ? 'animate__fadeOut' : 'animate__fadeIn'" *ngIf="controlVideoPlayer().isOver">
    <div class="flex justify-between">
      <h1 class="text-white text-[16px] leading-[32px] font-bold">Yoga con Alegría - Chakra Muladhara</h1>
      <div class="endTopPlayer">
        <button class="btn-green items-center flex gap-1">
          <mat-icon class="material-symbols-rounded" svgIcon="my-switch-video"></mat-icon>
          Escena
        </button>
        <button class="btn close grid place-content-center" routerLink="/" >
          <mat-icon class="material-symbols-rounded !font-thin !w-[30px] !h-[30px] !text-[30px]"  mat-dialog-close="true" >close</mat-icon>
        </button>
      </div>

    </div>
  </div>
  <vg-controls [vgAutohide]="true" [vgAutohideTime]="0.5">
    <div class="grid w-full">
      <vg-scrub-bar>
        <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
        <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
      </vg-scrub-bar>
      <div class="flex justify-between">
        <vg-time-display
          vgProperty="current"
          vgFormat="mm:ss"
        ></vg-time-display>
        <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>
      </div>
      <div class="content-control">
        <div class="flex w-full items-center justify-center gap-7 h-[50px]">

          <button>
            <mat-icon class="material-symbols-rounded font-thin !h-[55px] !w-[55px] !text-[55px]">skip_previous</mat-icon>
          </button>
          <button (click)="Replay()" >
            <mat-icon class="material-symbols-rounded font-thin !h-[38px] !w-[38px] !text-[38px]">replay_10</mat-icon>
          </button>
          <button class="text-white" id="play" (click)="playPause()">
            @if(isPlaying()){
            <mat-icon class="material-symbols-rounded font-thin !h-[48px] !w-[48px] !text-[48px]"
              >pause_circle</mat-icon
            >
            } @else{
            <mat-icon class="material-symbols-rounded font-thin !h-[48px] !w-[48px] !text-[48px]"
              >play_circle</mat-icon
            >
            }
          </button>
          <button (click)="Forward()">
            <mat-icon class="material-symbols-rounded font-thin !h-[38px] !w-[38px] !text-[38px]"
              >forward_10</mat-icon
            >
          </button>

          <button>
            <mat-icon class="material-symbols-rounded font-thin !h-[55px] !w-[55px] !text-[55px]">
              skip_next
            </mat-icon>
          </button>

        </div>
        <div class="flex gap-5">
          <button (click)="openFeelModal()">
            <mat-icon svgIcon="my-smile-video" ></mat-icon>
          </button>
          <button>
            <mat-icon class="material-symbols-rounded !font-thin" >share</mat-icon>
          </button>
        </div>

      </div>

    </div>
  </vg-controls>

  <video
    [vgMedia]="$any(myMedia)"
    #myMedia
    id="myMedia"
    preload="auto"
    crossorigin
  >
    <source [src]="getMedia()" type="video/mp4" />
  </video>

</vg-player>


<ng-template #modalFeel>
  @if(feelSelect() != 4){
    <div class="grid px-5 gap-8">
      <mat-icon class="justify-self-end material-symbols-rounded !font-thin !w-[30px] !h-[30px] !text-[30px] !text-black"  mat-dialog-close="true" >close</mat-icon>

      <span class="text-[20px] font-bold leading-[27.24px] text-center" >¿Cómo te sentiste?</span>

      <div class="flex justify-around pb-[50px]">
        <button class="grid justify-items-center" (click)="feelSelect.set(1)">
          <img src="/assets/images/feelings/excelente_card.svg" alt="">
          <span class="text-[12px] leading-[16.34px] font-normal" >Excelente</span>
        </button>

        <button class="grid justify-items-center" (click)="feelSelect.set(2)">
          <img src="/assets/images/feelings/bien_card.svg" alt="">
          <span class="text-[12px] leading-[16.34px] font-normal" >Bien</span>
        </button>

        <button class="grid justify-items-center" (click)="feelSelect.set(3)">
          <img src="/assets/images/feelings/indiferente_card.svg" alt="">
          <span class="text-[12px] leading-[16.34px] font-normal" >Indiferente</span>
        </button>

        <button class="grid justify-items-center" (click)="feelSelect.set(4)">
          <img src="/assets/images/feelings/sin_animos_card.svg" alt="">
          <span class="text-[12px] leading-[16.34px] font-normal" >Sin ánimos</span>
        </button>
      </div>
    </div>
  } @else {
    <div class="grid px-5 gap-5 justify-items-center pb-6">
      <mat-icon class="justify-self-end material-symbols-rounded !font-thin !w-[30px] !h-[30px] !text-[30px] !text-black"  mat-dialog-close="true" >close</mat-icon>

      <button class="grid justify-items-center" >
        <img src="/assets/images/feelings/sin_animos_card.svg" alt="">
        <span class="text-[12px] leading-[16.34px] font-normal" >Sin ánimos</span>
      </button>

      <span class="text-[16px] leading-[22px] font-bold text-center">No temas, siempre puedes volver a empezar. Te recomendamos hacer otra sesión.</span>

      <button class="btn-green">Ver Meditación</button>
    </div>
  }

</ng-template>


<!--  <iframe width="972" height="711" src="https://www.youtube.com/embed/iYYRH4apXDo" title="David Bowie – Space Oddity (Official Video)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> -->
