<div class="temp-collaborators animate__animated animate__fadeIn">
  <h1 class="font-medium text-center">Colaboradoras</h1>

  <div class="list-collabs">

    <div class="content-collab">
      <div class="avatar">
        <img srcset="/assets/images/test/user_avatar.jpg" alt="">
      </div>
      <h3 class="font-semibold" >Vanessa Aponte</h3>
    </div>

    <div class="content-collab">
      <div class="avatar">
        <img srcset="/assets/images/test/user_avatar_2.jpg" alt="">
      </div>
      <h3 class="font-semibold" >Fabiola Bejarano</h3>
    </div>

    <div class="content-collab">
      <div class="avatar">
        <img srcset="/assets/images/test/user_avatar_3.jpg" alt="">
      </div>
      <h3 class="font-semibold" >Alegría León</h3>
    </div>

    <div class="content-collab">
      <div class="avatar">
        <img srcset="/assets/images/test/user_avatar_4.jpg" alt="">
      </div>
      <h3 class="font-semibold" >Llynier Tobia</h3>
    </div>
  </div>
</div>
