@media (width < 600px) {
  .temp-collaborators{
    padding: 30px 16.5px 40px!important;
  }

  .temp-collaborators .content-collab .avatar {
    width: 120px;
    height: 120px;
  
}
.temp-collaborators {

  gap: 27px;
}

.temp-collaborators .content-collab {

  gap: 10px;
}
}
