<div class="temp-collaborators animate__animated animate__fadeIn">
  <h1 class=" ml-[16.5px] font-semibold sm:font-medium text-stat sm:text-center text-[20px] leading-[28px] sm:text-[24px]">{{section()?.name}}</h1>

  @if(width > 720){
    <div class="list-collabs">
      <div class="content-collab" *ngFor="let item of section()?.collaborators">
        <div class="avatar">
          <img [srcset]="getImg(item.image)" alt="" />
        </div>
        <span class="font-semibold sm:text-[20px]">{{item.name}}</span>
      </div>


    </div>
  }
  @else {
    <swiper-container
    slides-per-view="auto"
    speed="500"
    loop="false"
    freemode="true"
    class="overflow-auto"
  >
    <swiper-slide *ngFor="let item of section()?.collaborators">
      <div class="content-collab">
        <div class="avatar">
          <img [srcset]="getImg(item?.image)" alt="" />
        </div>
        <span class="font-semibold text-[14px] ">{{item.name}}</span>
      </div>
    </swiper-slide>



  </swiper-container>
  }


</div>
