.temp-collaborators {
  padding: 30px;
  display: grid;
  gap: 40px;

  .list-collabs {
    display: flex;
    width: 100%;
    max-width: 900px;
    justify-content: space-around;
    margin: auto;
    gap: 15px;

  }

  .content-collab{
    display: grid;
    justify-items: center;
    gap: 10px;
    .avatar{
      width: 130px;
      height: 130px;
      overflow: hidden;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
    }
    h3{
      text-align: center;
    }
  }
}

::ng-deep{

  .swiper{
    justify-content: space-around !important;
    max-width: 900px !important;
    margin: auto !important;
  }
}
