<div class="temp-home animate__animated animate__fadeIn ">
  <header class="header">
    <img srcset="/assets/images/head_logo.webp" alt="">

    <div class="buttons-group">
      <button class="btn" id="login" routerLink="/auth/login" >Iniciar sesión</button>
      <button class="btn-beige" routerLink="/auth/signup">Suscríbete</button>
    </div>
  </header>

  <div class="main">

    <div id="center">
      <h1>¡Bienvenido a Soy Zen!</h1>

      <h3 class="h3medium">Descubre el camino hacia la calma interior uniéndote a nuestra comunidad.</h3>
      <h3 class="h3hard">¡Realiza nuestro test y obtén un programa especial de 21 días!</h3>

      <button class="btn-white txt" routerLink="test" >Comenzar mi camino</button>
    </div>

    <button class="btn-blur" id="go_home" >Ir al inicio</button>
  </div>
</div>
