@media (width < 500px) {
  .temp-home {
    #login{
      display: none !important;
    }

    .header{
      padding: 20px !important;
    }

    .main {
      padding: 10px 14px !important;

      #center {
        h1 {
          font-size: 50px;
        }
      }
    }


    #go_home{
      justify-self: start !important;
    }
  }
}
