<div class="temp-home animate__animated animate__fadeIn">
  <app-banner />
  <div class="body-home">

    <div class="content-search" >
      <div class="input-icon-right search">
        <input
          type="text"
          #inputSearchHome
          [(ngModel)]="searchText"
          (keyup.enter)=" searchText != '' && showSearch.set(true)"x
          (input)="onInputChange($event)"
          class="input-rounded !text-[#686D76] !placeholder-[#686D76]"
          placeholder="¿En qué te enfocarás hoy?">

        @if(sectionData().loadingSearch){
          <mat-icon class="input-icon material-symbols-rounded animate-spin" >progress_activity</mat-icon>
        }@else {
          <mat-icon class="input-icon material-symbols-rounded" >search</mat-icon>
        }
      </div>


      <div class="modal-filter" #menuHome *ngIf="showSearch()">
        <div class="p-3 py-4 flex items-center justify-between w-full modal-filter-header">

          <div class="flex items-center">
            <button class="btn">
              <mat-icon class="material-symbols-rounded font-light" >arrow_back</mat-icon>
            </button>
            <span> {{searchText}} </span>
          </div>

          <button class="btn">
            <mat-icon class="material-symbols-rounded font-light" >close</mat-icon>
          </button>
        </div>

        <div class="body-filter">
          @for (item of listSearch(); track $index) {
            <div class="item-result" (click)="openPost(item)">
              <div class="img">
                <img [src]="getImg(item.thumbnail)" alt="">
              </div>

              <div class="grid">
                <span class="text-[14px] leading-[19.07px]" [innerHtml]="item.title"> </span>
                <span class="text-[10px] leading-[13.62px] font-medium" > {{item.category}} </span>
              </div>
            </div>
          }

          @if(listSearch().length == 0){
            <div class="p-4 grid gap-1 justify-items-center">
              <img srcset="/assets/images/head_logo.webp" width="150" alt="">
              <div class="flex">
                <mat-icon class="material-symbols-rounded font-light" >info</mat-icon>
                <span class="font-medium">No se encontraron resultados</span>
              </div>
            </div>
          }
        </div>

      </div>
    </div>

    <section class="filter-option">
      <swiper-container
        slides-per-view="auto"
        speed="500"
        loop="false"
        freemode="true"
        class="overflow-auto"
      >
        <swiper-slide>
          <mat-chip-listbox >

            @for (filter_option of sectionData().categorias; track $index) {
              <mat-chip-row  [class.selected]="sectionSelect() == filter_option.id" (click)="selectSection(filter_option.id)">
                {{ filter_option.name }}
                @if(sectionSelect() == filter_option.id && filter_option.id != null){
                  <mat-icon matChipRemove class="material-symbols-rounded font-extralight closeWhite" (click)="removeFilter()">close</mat-icon>
                }
              </mat-chip-row>
            }
          </mat-chip-listbox>

      </swiper-slide>
    </swiper-container>
    </section>

    @for (item of sectionData().sections; track $index) {
      @if(item?.type==1){
      <app-section-home [setSection]="item" />
      }
      @if(item?.type==2){
        <app-collaborators [setSection]="item" />
        }
      <!-- @if(item?.hasAds){
        <div class="section-ad">
          <div class="grid m-auto  max-w-[900px]">
            <div class="content-ads">
              <a [href]="item.url_ads ? item.url_ads :'#'">
              <img [srcset]="getImg(item.ads)" alt="">
            </a>
            </div>
            <span class="text-end text-[12px]">Publicidad</span>
          </div>
        </div>
      } -->
    }
    <!-- <app-peace-mind /> -->
    <!-- <app-zen-today-list /> -->
<!--
    @defer(on viewport){
    <app-zen-today-list />
    }@placeholder () {
      <app-skeleton-section class="overflow-hidden" />
    }

    @defer(on viewport){
      <app-collaborators />
    }@placeholder () {
      <app-skeleton-section class="overflow-hidden" />
    }

    @defer(on viewport){
      <app-taroscope />
    }@placeholder () {
      <app-skeleton-section class="overflow-hidden" />
    }

    @defer(on viewport){
      <app-yogui-life />
    }@placeholder (){
      <app-skeleton-section class="overflow-hidden" />
    }

    @defer(on viewport){
      <div class="section-ad">
        <div class="grid m-auto  max-w-[900px]">
          <div class="content-ads">
            <img srcset="/assets/images/test/ad.jpg" alt="">
          </div>
          <span class="text-end text-[12px]">Publicidad</span>
        </div>

      </div>
    }@placeholder (){
      <app-skeleton-section class="overflow-hidden" />
    }

    @defer(on viewport){
      <app-meditation />
    }@placeholder () {
      <app-skeleton-section class="overflow-hidden" />
    }

    @defer(on viewport){
      <app-peace-mind />
    }@placeholder () {
      <app-skeleton-section class="overflow-hidden" />
    }


    @defer(on viewport){
      <div class="section-ad">
        <div class="grid m-auto  max-w-[900px]">
          <div class="content-ads">
            <img srcset="/assets/images/test/ad.jpg" alt="">
          </div>
          <span class="text-end text-[12px]">Publicidad</span>
        </div>

      </div>
    }@placeholder (){
      <app-skeleton-section class="overflow-hidden" />
    }

    @defer(on viewport){
      <app-digital-library />
    }@placeholder () {
      <app-skeleton-section class="overflow-hidden" />
    } -->
    <!-- <app-digital-library /> -->
  </div>

  <!-- <app-footer /> -->
</div>



<ng-template #modalEvent>
  <mat-dialog-actions class="grid">
    <div class="grid pb-8 w-full">
      <button class="btn justify-self-end "  mat-dialog-close="true" ><mat-icon class="!w-[30px] !h-[30px] text-[30px] font-extralight material-symbols-rounded"> close </mat-icon></button>

      <div class="grid gap-5 text-center justify-items-center w-[300px] m-auto">
        <span class="text-[28px] font-medium leading-[38.14px]" >Hazte Premium</span>

        <span class="text-[14px] leading-[22px] font-normal">
          Suscríbete y obtén full acceso a todos los contenidos y funcionalidades de Soy Zen.
        </span>

        <button class="btn-gold" >Suscripción Premium</button>
      </div>
    </div>


  </mat-dialog-actions>
</ng-template>

<ng-template #modalVideo>
  <app-videoplayer [urlPlayer]="urlPlayer"  />
</ng-template>

<ng-template #modalAudio>
  <app-audio-player [urlPlayer]="urlPlayer " [url_img]="url_img" [title]="title" [category]="category"/>
</ng-template>
