.temp-home{
  height: 100%;
  display: grid;
  grid-template-rows: max-content auto;


  ::ng-deep{

    .mat-mdc-standard-chip{

      background: white ;
      outline: 1px solid var(--green);

      border-radius: 6px !important;
      -webkit-border-radius: 6px !important;
      -moz-border-radius: 6px !important;
      -ms-border-radius: 6px !important;
      -o-border-radius: 6px !important;
    }
    .mat-mdc-chip-action-label{
      font-size: 16px !important;
      font-weight: 600 !important;
      color: var(--green) !important;
    }
    .selected.mat-mdc-standard-chip{
      background-color: var(--green) !important;
    }

    .selected .mat-mdc-chip-action-label{
      color: white !important;
      font-weight: 500 !important;
    }
    .selected mat-icon{
      color: white !important;
    }
    .subccategory{
      .selected.mat-mdc-standard-chip{
        background-color: var(--light-green) !important;
      }
      .selected .mat-mdc-chip-action-label{
        color: var(--green) !important;
      }
      .selected mat-icon{
        color: var(--green) !important;
      }
    }
    .mat-mdc-chip-focus-overlay{
      background-color: transparent !important;
    }
    .mat-mdc-chip-remove{
      opacity: 1 !important;
    }
    .mdc-evolution-chip-set .mdc-evolution-chip {
      margin-left: 16.5px !important;
    }
    .mdc-evolution-chip-set__chips:last-child{
      margin-right: 15.6px !important;
    }

    .mdc-evolution-chip-set__chips{
      margin-left: 0px !important;
    }
    // .filter-select.mat-mdc-standard-chip{
    //   background-color: var(--green) !important;
    // }
  }


  .body-home{
    display: grid;
    align-content: start;
    gap: 0px;

    .filter-option{
      padding: 30px 0px;
    }

    .content-search{
      display: none;
      padding: 0px 20px;
      padding-top: 20px;

    }
  }

  .section-ad{
    display: grid;
    padding: 60px 20px;
  }

  .content-ads{
    overflow: hidden;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }
}
.closeWhite{
  font-size: 18.72px;
  font-weight: 400;
}

