@media (width < 600px) , (max-device-width: 600px) {

  .temp-home{
    height: 100%;
    display: grid;
    grid-template-rows: max-content auto;


    ::ng-deep{
      .mat-mdc-standard-chip{

        background: rgba(218, 227, 228, 1) ;
        outline: 0px solid var(--green);

      }
      .subccategory{
        .mat-mdc-standard-chip{

          background: white !important ;
          outline: 1px solid var(--green);

        }
      }
    }
    .input-rounded {
      padding:10px 17px;

  }
  .px-0{
    padding-left: 13.5px;
    padding-right: 13.5px;
  }
  }

  .body-home{
    .content-search{
      display: grid !important;
    }

    .filter-option{

      padding: 30px 0px !important;
    }
  }

  .section-ad{
    display: grid;
    padding:20px !important;
  }

  ::ng-deep{

    .mat-mdc-chip-action-label{
      font-size: 14px !important;
    }
    .mdc-evolution-chip__icon--trailing{
      height: 22px !important;
      width: 22px !important;
      font-size: 22px !important;
    }
  }

  .grid-content-scroll {
    max-height: 100vh; /* Ajusta la altura máxima según sea necesario */
    overflow-y: scroll; /* Permite el scroll vertical */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none !important;  /* Firefox */
  }
  
  /* Ocultar barra de desplazamiento en navegadores WebKit (Chrome, Safari) */
  .grid-content-scroll::-webkit-scrollbar {
    display: none;
  }

  .input-style {
 
    border: none;
    outline: none;
    font-weight: normal;
    /* Adicionales para ocultar los bordes */
    background: none; /* Asegura que no haya un fondo por defecto */
    padding: 0; /* Elimina cualquier padding por defecto */
    margin: 0; /* Elimina cualquier margin por defecto */
    color: inherit; /* Asegura que el color del texto sea el mismo */
  }
  
  .input-style:focus {
    border: none;
    outline: none;
  }

}
@media (width < 820px) , (max-device-width: 820px) {

  .body-home{
    .content-search{
      width: 100%;
      margin: auto;
      max-width: 450px;
      display: grid !important;
    }
  }

  .modal-filter{
    z-index: 99;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: white;
    top: 0;
    left: 0;
    right: 0;

    &-header{
      .btn{
        padding: 5px !important;
        display: grid;
        place-content: center;
        mat-icon{
          color: black !important;
        }
      }

      border-bottom: 1px solid #C7CACF;
    }

    .body-filter{
      padding: 20px 10px;
      display: grid;
      gap: 10px;

      .item-result{
        cursor: pointer;
        display: flex;
        gap: 10px;
        padding: 10px;

        .img{
          width: 40px;
          height: 40px;
          min-width: 40px;
          overflow: hidden;

          img{
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
          border-radius: 10px;
          -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          -ms-border-radius: 10px;
          -o-border-radius: 10px;
        }

        &:hover{
          background: rgb(247, 244, 244);
        }
        transition: all 0.2s ease-in-out;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
      }
    }
  }
  .radiusMobile{
    border-radius: 16px;
  }
  .sizeMobile{
    font-size: 25px;
    height: 25px !important;
    width: 25px !important;
    color: #686d76;
  }

  .body-home{
    display: grid;
    align-content: start;
    gap: 0px;

    .filter-option{
      padding: 30px;
    }

    .content-search{
      display: none;
      padding: 30px 16.5px 0px !important;


    }
  }
.paddinEspace{
  padding: 1rem 1rem 5rem;
}

.content-list-cards{
  gap: 32px 18px;
}
}


