@media (width < 500px) {
    .temp-select-feeling{
        #btn-continue{
            width: 100%  !important;
    
        }
        .btn-link2{
            background: none;
            border: none;
            text-decoration: underline;
            display: block;
            margin-right: auto;
      
          }
    }
}