.temp-select-feeling{
  display: grid;
  justify-items: center;
  height: 100%;
  gap: 20px;
  .list-cards{
    display: grid;
    gap: 10px 40px;
    grid-template-columns: auto auto;
    max-width: 340px;
    margin: auto;
  }

  #btn-continue{
    width: 80%  !important;
    transition: all ease-in-out 0.2s;
    -webkit-transition: all ease-in-out 0.2s;
    -moz-transition: all ease-in-out 0.2s;
    -ms-transition: all ease-in-out 0.2s;
    -o-transition: all ease-in-out 0.2s;
  }

}
h1{
  font-family: Noto Sans;
font-size: 24px;
font-weight: 400;
line-height: 38px;
letter-spacing: 0em;
text-align: center;

}
