<div class="temp-test">
  <button class="btn" id="btn-close" (click)="goBack()">
    <mat-icon class="material-symbols-rounded font-extralight !w-[40px] !h-[40px] text-[40px]"> arrow_back </mat-icon>
  </button>
  <div class="main" [class]="step() >= 2 ? '!content-stretch' :''">


    @if(step() > 0) {
    <app-test-progress class="w-full" [percent]="percent()" [title]="title()" />
    }


    @switch (step()) {

    <!-- Registro Nombre -->
    @case (0) {

    <div class="content animate__animated animate__slideInRight animate__fast">
      <img srcset="/assets/images/isotype.svg" alt="" />

      <span class="text-[24px] leading-[38px] sm:text-[28px] sm:leading-[38px]" >Cómo te llamas...</span>
      <div class="form-group">
        <input type="text" class="input-plane" [formControl]="name" placeholder="Nombre" />
        <p *ngIf="formInvalid()" class="text-error">Campo requerido</p>
      </div>

    </div>

    <button  class="btn-green !py-2" (click)="canNext()">Continuar</button>

    }

    <!-- Select Feeling -->
    @case (1){
    <app-select-feeling class="w-full" (nextStepEmitter)="nextStep()" />
    }

    <!-- Select Focus -->
    @case (2){
      <app-focus class="w-full" (nextStepEmitter)="nextStep()" />
    }
    @case (3){
      <app-slider-goals class="w-full" (nextStepEmitter)="nextStep()" />
    }
    @case (4){
      <app-slider-patient class="w-full" (nextStepEmitter)="nextStep()" />
    }
    @case (5){
      <app-behavior (nextStepEmitter)="nextStep()" />
    }
    @case (6){
      <app-kindness (nextStepEmitter)="nextStep()" />
    }
    @case (7){
      <app-slider-stress class="w-full" (nextStepEmitter)="nextStep()" />
    }
    @case (8){
      <app-dream class="w-full" (nextStepEmitter)="nextStep()" />
    }
    @case (9){
      <app-physical-activity class="w-full" (nextStepEmitter)="nextStep()" />
    }
    @case (10){
      <app-feeding class="w-full" (nextStepEmitter)="nextStep()" />
    }
    @case (11){
      <app-energy class="w-full" (nextStepEmitter)="nextStep()" />
    }
    @case (12){
      <app-interests (nextStepEmitter)="nextStep()" />
    } }
  </div>
  <button class="btn-link" id="do_later" routerLink="../" >Quiero hacerlo después</button>
</div>
