<div class="temp-test">
  <button class="btn" id="btn-close" routerLink="../">
    <mat-icon class="material-symbols-outlined"> arrow_back </mat-icon>
  </button>
  <div class="main" [class]="step() >= 2 ? '!content-stretch' :''">


    @if(step() > 0) {
    <app-test-progress class="w-full" [percent]="percent()" [title]="title()" />
    }


    @switch (step()) {

    <!-- Registro Nombre -->
    @case (0) {

    <div class="content animate__animated animate__slideInRight animate__fast">
      <img srcset="/assets/images/isotype.svg" alt="" />

      <h1>Cómo te llamas...</h1>
      <div class="form-group">
        <input type="text" class="input-plane" [formControl]="name" placeholder="Nombre" />
        <p *ngIf="formInvalid()" class="text-error">Campo requerido</p>
      </div>

    </div>

    <button  class="btn-green" (click)="canNext()">Continuar</button>

    }

    <!-- Select Feeling -->
    @case (1){
    <app-select-feeling class="w-full" (nextStepEmitter)="nextStep()" />
    }

    <!-- Select Focus -->
    @case (2){
      <app-focus class="w-full" (nextStepEmitter)="nextStep()" />
    } @case (3){
      <app-behavior (nextStepEmitter)="nextStep()" />
    } @case (4){
      <app-interests (nextStepEmitter)="nextStep()" />
    } }
  </div>
  <button class="btn-link" id="do_later" >Quiero hacerlo después</button>
</div>
