<div class="temp-login animate__animated animate__fadeIn ">

  <header class="header">
    <img srcset="/assets/images/head_logo.webp" alt="">

    <button class="btn close" routerLink="/" >
      <mat-icon svgIcon="my-cancel"></mat-icon>
    </button>
  </header>

  <div class="content">
    <h1 class="font-2xl font-medium txt-reg" >Iniciar Sesión

      <button style="margin-left: 38%;" class="btn" id="btn-close" (click)="setTypeLogin(typesLogin.email)" *ngIf="typeLogin() != typesLogin.email">
        <mat-icon class="material-symbols-rounded font-extralight !w-[40px] !h-[40px] text-[40px]"> arrow_back </mat-icon>
      </button>
    </h1>


    @if(typeLogin() == typesLogin.email){
      <form class="form" [formGroup]="form" >

        <div class="form-group input-icon-right">
          <input type="text" class="input" [class.input-error]="getInputError('email')" formControlName="email" placeholder="Email">
          <mat-icon class="input-icon material-symbols-rounded" [class.colorIcon]="getInputError('email')" >email</mat-icon>


        </div>

        <div class="form-group input-icon-right">
          <input type="{{ passwordVisible ? 'text' : 'password' }}" class="input"  [class.input-error]="getInputError('password')" formControlName="password" placeholder="Contraseña">
          <mat-icon (click)="togglePasswordVisibility()" class="input-icon material-symbols-rounded" [class.colorIcon]="getInputError('password')" >{{passwordVisible ? 'visibility_off' : 'visibility'}}</mat-icon>
          <div>

            @if(getTypeError('email', 'required') || getTypeError('password', 'required')){
              <span class="text-error"><mat-icon class="icon">error_outline</mat-icon><span class="ft-text">  Campo requerido.</span> </span>
            }@else {
              <span *ngIf="errorType() == 2" class="text-error"><mat-icon class="icon">error_outline</mat-icon><span class="ft-text">  Contraseña inválida. Intenta nuevamente.</span> </span>
              <span *ngIf="getTypeError('email', 'email') || errorType() == 1" class="text-error"><mat-icon class="icon">error_outline</mat-icon><span class="ft-text">  Correo inválido. Intenta nuevamente.</span> </span>
            }

          </div>

        </div>



        <button class="btn-green" id="btn-signup" [ngClass]="form.invalid ? 'desa' : '' " (click)="login()" > Iniciar Sesión <mat-icon *ngIf="authData().loading" class="material-symbols-rounded animate-spin" >progress_activity</mat-icon> </button>

      </form>
    }
    @else {
      <form class="form" [formGroup]="formNumber" >

        <div class="flex">
          <mat-form-field floatLabel="always">
            <mat-label>Código</mat-label>
            <mat-select formControlName="code">
              @for (item of codePhoneList(); track $index) {
                <mat-option [value]="item.value"> {{item.code}} </mat-option>
              }
            </mat-select>
          </mat-form-field>
          <div class="form-group input-icon-right w-full">
            <input type="text" class="input !w-full" [class.input-error]="getInputNumberError('phone')" [maxlength]="7" formControlName="phone" onlyNumber placeholder="Ej: 1234567">
            <mat-icon class="input-icon material-symbols-rounded" [class.colorIcon]="getInputNumberError('phone')">phone_iphone</mat-icon>


            <span *ngIf="getNumberFormError('phone', 'minlength')" class="text-error"><mat-icon class="icon">error_outline</mat-icon><span class="ft-text">  La longitud mínima es 7.</span> </span>

            <span *ngIf="getNumberFormError('phone', 'required')" class="text-error"><mat-icon class="icon">error_outline</mat-icon><span class="ft-text">  Campo requerido.</span> </span>
          </div>
        </div>

        <button class="btn-green items-center flex justify-center" id="btn-signup" (click)="login()" > Iniciar Sesión <mat-icon *ngIf="authData().loading" class="material-symbols-rounded animate-spin" >progress_activity</mat-icon> </button>
      </form>
    }



    <div class="flex justify-center">
      <h4 class="text-center font-medium txt-tmn coltxt">¿Olvidaste tu contraseña?</h4>
      <button class="underline font-medium ml-2 txt-tmn separation coltxt" > CLICK AQUÍ</button>
    </div>

    <mat-divider class="margen"></mat-divider>

    <div class="grid gap-5">
      <h4 class="text-center font-semibold txt-init colorText">O inicia sesión con:</h4>

      <div class="btn-group-media">
        <button class="btn" >
          <img srcset="/assets/images/google_icon.svg" alt="">
        </button>

        <button class="btn" >
          <img srcset="/assets/images/facebook_icon.svg" alt="">
        </button>

        <button class="btn" >
          <img srcset="/assets/images/apple_icon.svg" alt="">
        </button>
      </div>
      <div class="flex  gap-3 justify-center">
        <button class="btn !bg-[#EDEEF1] max-h-[75px] !h-full !w-full grid place-content-center" [class.typeNumberSelect]="typeLogin() == typesLogin.movistar" (click)="setTypeLogin(typesLogin.movistar)" >
          <img srcset="/assets/images/movistar.png"  class="max-w-[140px] sm:max-w-[180px] imgMovistar "  alt="">
        </button>

        <button class="btn !bg-[#EDEEF1] max-h-[75px] !h-full !w-full grid place-content-center" [class.typeNumberSelect]="typeLogin() == typesLogin.digitel" (click)="setTypeLogin(typesLogin.digitel)" >
          <img srcset="/assets/images/digitel.png" class="max-w-[120px] !pt-[10px] imgDigitel" alt="">
        </button>
      </div>

      <div class="flex justify-center">
        <h4 class="text-cente txt-tmn txtDown">No tengo cuenta,</h4>
          <button id="signup" class="txt-tmn txtDown600"  routerLink="/auth/signup">REGISTRARME</button>
      </div>
    </div>

    <div class="padd">
      <h5 class="font-semibold text-center mt-10 txt-doble txtTerm">
        El uso de Soy Zen está sujeto a nuestros <a class="text-blue underline " >Términos y Condiciones</a>, y <a class="text-blue underline" >Política de Privacidad</a>
      </h5>
    </div>
  </div>

</div>
