.temp-login{
  min-height: 100%;
  display: grid;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.90) 40%, rgba(255, 255, 255, 0.72) 100%), url('/assets/images/home.webp');
  padding: 20px 70px;
  grid-template-rows: max-content auto 15%;
  height: 100%;
  overflow: auto;

  .header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    img{
      width: 180px;
    }

    .close{
      width: 40px;
      height: 40px;
      mat-icon{
        width: 40px;
        height: 40px;
        font-size: 40px;
      }

    }
  }

  .content{
    width: 100%;
    max-width: 450px;
    margin: 0px auto;
    margin-top: 80px;
    display: grid;
    gap: 10px;
    align-content: start;

    .form{
      margin: 30px 0px;
      display: grid;
      gap: 5px;

      #btn-signup{
        width: 100%;
        padding: 13px;
      }
    }
  }


  .btn-group-media{
    width: 100%;
    justify-content: space-between;
    display: flex;
    gap: 10px;

    .btn{
    
      // width: max-content;
      background-color: #EDEEF1;
      width: -webkit-fill-available;
      padding: 15px 40px;
      display: flex;
      border-radius: 10px;
      // -webkit-border-radius: 10px;
      // -moz-border-radius: 10px;
      // -ms-border-radius: 10px;
      // -o-border-radius: 10px;
      justify-content: center;
      img{
        width: 30px;
        height: 30px;
      }
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
    }

  }

  #signup{
    font-size: 14px;
    font-weight: 600;
    margin-left: 2px;
    text-decoration: underline;
  }
}
::ng-deep{
  .mat-mdc-form-field-subscript-wrapper{
    height: 0px !important;
  }
  .mat-mdc-form-field{
    align-self: start !important;
    height: 50px !important;
  }
}


.typeNumberSelect{
  outline: 2px solid var(--green);
}
.separation{
  margin-left: 3px;
}
.colorText{
  color: rgb(55, 58, 64);
    font-weight: 400;
    font-size: 14px;
    line-height: 19.07px;
}
.margen{
  margin-top: 16px;
  margin-bottom: 16px;
}
.coltxt{
  font-size: 12px;
  line-height: 16.34px;
  font-weight: 600;
}

.txtDown{
  font-size: 14px;
    line-height: 19.07px;
    font-weight: 400;
}

.txtDown600{
  font-size: 14px;
    line-height: 19.07px;
    font-weight: 600;
}
.txtTerm, .txtTerm a{
  font-size: 12px;
  line-height: 22px;
  font-weight: 700;
  color: rgba(55, 58, 64, 1);

}
.padd{
  padding: 0 10%;
}
.imgMovistar{
  width: 109px;
}
.imgDigitel{
  width: 79px;
}