<div class="temp-footer">
  <img srcset="/assets/images/logo.webp" width="180" >

  <div class="flex gap-7">
    <button>
      <mat-icon svgIcon="my-facebook-white"></mat-icon>
    </button>

    <button>
      <mat-icon svgIcon="my-instagram-white"></mat-icon>
    </button>

    <button>
      <mat-icon svgIcon="my-tiktok-white"></mat-icon>
    </button>
  </div>

  <img alt="" srcset="/assets/images/conectium.webp">

  <div class="grid">
    <span class="conditions text-center" >Términos y Condiciones - Política de Cookies</span>
    <span class="conditions text-center">©SoyZen 2024</span>
  </div>
</div>
