<div
  class="h-[400px] w-full overflow-hidden p-9 bg-gradient-to-r from-[#EFF4F4] to-[#d4dada] animate-pulse"
>
  <div class="flex gap-3 mt-14">
    <div
      class="w-52 h-60 rounded-lg bg-gradient-to-r from-[#d7dbdb] to-[#c5cccc] animate-pulse"
    ></div>
    <div
      class="w-72 h-60 rounded-lg bg-gradient-to-r from-[#d7dbdb] to-[#c5cccc] animate-pulse"
    ></div>
    <div
      class="w-52 h-60 rounded-lg bg-gradient-to-r from-[#d7dbdb] to-[#c5cccc] animate-pulse"
    ></div>
    <div
      class="w-72 h-60 rounded-lg bg-gradient-to-r from-[#d7dbdb] to-[#c5cccc] animate-pulse"
    ></div>
    <div
      class="w-52 h-60 rounded-lg bg-gradient-to-r from-[#d7dbdb] to-[#c5cccc] animate-pulse"
    ></div>
  </div>
</div>
