
@switch (test()!.type) {

  @case (type_test.range) {

    <div class="content-range animate__animated animate__slideInRight animate__fast" [ngClass]="type_test.range ? 'mt40' : '' ">
      <h1 class="text-center text-[20px] leading-[27.24px] sm:text-[24px] sm:leading-[32.69px] pdl25 textTitleTo">
        {{ test()!.content }}
      </h1>

      <div *ngIf="feeling() as imageSource" class="flex justify-center min-h-10">
        <img [src]="imageSource" alt="" width="64" height="64">

      </div>

      <div class="grid gap-1 pdl25">
        <mat-slider (input)="onSliderChange($event)"  discrete [displayWith]="getTextSlider">
          <input matSliderThumb [formControl]="percent">
        </mat-slider>

        <!-- Mostrar el contenido debajo del slider -->
        <div class="text-center mt-4">
          <h2 class="text-[16px] leading-[22px] font-medium">
            {{selectedContent()}}
          </h2>
        </div>
      </div>

      <button class="btn-green justify-self-center !py-2" id="btn-continue" (click)="nexStep()">Continuar</button>
    </div>

  }

  @case(type_test.select_single){

    <div class="content-single animate__animated animate__slideInRight animate__fast" [ngClass]="type_test.select_single ? 'mt40' : '' " >

      <h1 class="text-[24px] leading-[32.69px] text-center sm:text-[20px] sm:leading-[27.24px] pdl25 textTitleTo" > {{test()!.content}} </h1>

      <div class="md:grid list-buttons justify-center gap-5 pdl25 ">
        @for (answer of test()!.answers; track $index) {
          <button class="mbre" [class]="select() == answer.id ? 'btn-beige' : 'btn-border-beige'" (click)="select.set(answer.id)" > {{answer.content}} </button>
        }
      </div>

      <button  class="btn-green justify-self-center !py-2" id="btn-continue" (click)="nexStep()" >Continuar</button>
    </div>
  }

  @case(type_test.multiple){

    <div class=" grid gap-2 animate__animated animate__slideInRight animate__fast" [ngClass]="type_test.multiple ? 'mt40' : '' " >
      <h1 class="text-[20px] leading-[27.24px] sm:text-[24px] sm:leading-[32.69px] !justify-self-center text-center font-medium !max-w-[340px] textTitleTo" >Selecciona los temas que te interesan</h1>
      <h3 class="text-gray text-center text-[14px] leading-[24px] sm:text-[16px] sm:leading-[24px]" >Puedes marcar más de uno</h3>


      <div class="list-multiple">
        @for (answer of multiList; track $index) {
          <button  [class]="isSelected(answer) ? 'btn-beige' : 'btn-border-beige'" (click)="toogleSelect(answer)" > {{answer.content}} </button>
        }
      </div>

      <button class="justify-self-center !py-2 !w-full md:!max-w-[340px]"
        [class]="multiSelected().length > 0 ? 'btn-green' : 'btn-disable' "
        (click)="multiSelected().length > 0 && nexStep()"

      id="btn-continue">Continuar</button>

    </div>

  }

  @case(type_test.select_icon){
    <div class="temp-select-feeling">
      <div class="text-center mt-[20px] hei">
        <span class="text-gray text-[16px] font-normal" > Hola, {{testData().name}} </span>
        <h1 class="font-medium text-[24px] leading-[38px]"> {{test()?.content}} </h1>
      </div>

      <div class="list-cards animate__animated animate__slideInRight animate__fast">
        @for (feeling of test()?.answers; track $index) {
          <app-feeling-card [feeling]="feeling" (click)="selectFeel(feeling)" />
        }
      </div>

      <button class="mx-auto !py-2" [class]="selectIcon() ? 'btn-green' : 'btn-disable' " (click)="selectIcon() && nexStep()" id="btn-continue">Continuar</button>
    </div>

  }
}
