<div class="temp-peace-mind animate__animated animate__fadeIn">

  <div class="grid gap-2">
    <div class="flex w-full justify-between">
      <span class="font-xl">Paz Mental</span>

      <button class="btn flex btn-seemore">
        VER TODO
        <mat-icon class="material-symbols-rounded">keyboard_arrow_right</mat-icon>
      </button>
    </div>
    <h4 class="font-sm">Siéntete bien contigo mismo y con el mundo que te rodea.</h4>
  </div>


  <div class="list">
    <app-card-article title="Técnicas efectivas para encontrar la calma interior" url_img="/assets/images/test/back_card_article.jpg" />
  </div>

</div>
